/* ========================================================== */
/*     NavBar Main
/* ========================================================== */
nav.navbar {
  background: #000000;
  color: #8a8d93;
  padding: 0;
  border-bottom: 1px solid #000;
  z-index: 9998;
  position: fixed;
  width: 100%;
}

/* Arrow to toggle sidebar */
nav.navbar .sidebar-toggle {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #282b2f;
  color: #8a8d93;
  font-size: 1.1rem;
  border: 3px solid #000000;
  vertical-align: middle;
  -webkit-transform: rotateY(360deg); /* Not sure why this is needed */
}

nav.navbar .sidebar-toggle:hover {
  background: #282b2f;
  color: #cc5200;
  border: 2px dashed #cc5200;
}

.arrow-button {
  position: absolute;
  vertical-align: middle;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

nav.navbar a {
  color: inherit;
}

.navbar-brand {
  position: absolute;
  left: 0px;
}

.brand-text {
  display: inline-block;
  font-weight: 700;
  vertical-align: middle;
  text-align: center;
}

nav.navbar a.nav-link {
  padding: 0;
}

.navbar-brand strong{
  font-size: 1rem;
}

.navbar-navigation {
  position: absolute;
  right: 20px;
}

.navbar-navigation span {
  margin: 5px;
}

.avatar {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 4px;

  vertical-align: middle;
}

.avatar-image {
  position: relative;
  top: 50%;
  transform: translateY(-50%); /* Not quite center without this line */
}

/* ========================================================== */
/*     NavBar Title Bar
/* ========================================================== */

.header-title {
  display: flex;
  height: 70px;
  background-color: #000000;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}

.header-title-text {
  position: relative;
  left: 140px;
  margin:0;
}

.header-title img{
  height: 75%;
}

/* ========================================================== */
/*     NavBar Drop-Down Menu (Navigation Menu)
/* ========================================================== */
.dropdown-menu {
  color: #cc5200;
  background: #2d3035;
  left: auto;
  border: 2px solid #393c43;
  -webkit-box-shadow: 0 0 15px rgba(34, 37, 42, 0.95);
  box-shadow: 0 0 15px rgba(34, 37, 42, 0.95);
  padding: 0px 20px 10px 20px;
  z-index: 9999 !important;
  right: 0 !important;
  min-width: 200px;
}

.dropdown-menu a {
  padding: 5px 15px !important;
}

.dropdown-menu strong {
  margin-top: 10px;
  margin-bottom: 5px;
  display: block;
  text-decoration: underline;
}

.dropdown-menu ul a {
  text-decoration: none;
  color: white;
  font-size: 0.9em !important;
}

.dropdown-menu ul a:hover {
  color: #cc5200 !important;
}

nav.navbar .dropdown .dropdown-menu.active {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.single h6{
  margin: 10px -10px -10px -15px;
  display: block;
  text-decoration: underline;
}

.single a:hover {
  background: none;
  color: white !important;
}

/* ========================================================== */
/*     NavBar Drop-down Effect
/* ========================================================== */
nav.navbar .dropdown .dropdown-menu {
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

nav.navbar .dropdown .dropdown-menu.active {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

/* ========================================================== */
/*     Navbar Media Query
/* ========================================================== */
@media (max-width: 1199px) {
  nav.navbar .search-inner form input {
    font-size: 1.25rem !important;
  }
  nav.navbar .search-inner form button.submit {
    position: absolute;
    font-size: 2rem;
    top: 50px;
    display: block;
    width: 100%;
  }
}