/* ========================================================== */
/*     NavBar Main
/* ========================================================== */
nav.navbar {
  background: #000000;
  color: var(--text-color);
  padding: 0;
  border-bottom: 1px solid #000;
  z-index: 9998;
  position: fixed;
  width: 100%;
}

/* Arrow to toggle sidebar */
nav.navbar .sidebar-toggle {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #051318;
  color: var(--text-color);
  font-size: 1.1rem;
  border: 3px solid #000000;
  vertical-align: middle;
  -webkit-transform: rotateY(360deg); /* Not sure why this is needed */
}

nav.navbar .sidebar-toggle:hover {
  background: #051318;
  color: var(--link-color);
  border: 2px dashed var(--link-color);
}

.arrow-button {
  position: absolute;
  vertical-align: middle;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

nav.navbar a {
  color: inherit;
}

.navbar-brand {
  position: absolute;
  left: 0px;
}

.brand-text {
  display: inline-block;
  font-weight: 700;
  vertical-align: middle;
  text-align: center;
}

nav.navbar a.nav-link {
  padding: 0;
}

.navbar-brand strong{
  font-size: 1rem;
  color: var(--link-color);
}

.avatar {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 4px;

  vertical-align: middle;
}

.avatar-image {
  position: relative;
  top: 50%;
  transform: translateY(-50%); /* Not quite center without this line */
}

/* ========================================================== */
/*     NavBar Title Bar
/* ========================================================== */

.header-title {
  display: flex;
  height: 70px;
  background-color: #000000;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}

.header-title-text {
  position: relative;
  left: 140px;
  margin:0;
}

.header-title img{
  height: 75%;
}
