

nav#sidebar {
  position: fixed;
  width: 280px;
  top: 71px;
  bottom: 0;
  background: #2d3035;
  color: #6a6c70;
  border-right: 1px solid #34373d;
  overflow-y: auto;
}

nav#sidebar a {
  color: inherit;
  position: relative;
  text-decoration: none;
}

/* List item arrows */
.fa-angle-left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

.fa-angle-down {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

/* Drop down items background / position */
nav#sidebar ul ul a {
  padding: 14 14 14 60;
  background: #22252a;
}

/* Side panel list/items */
nav#sidebar ul a {
  padding: 18px 20px;
  display: block;
  font-weight: 400;
}

nav#sidebar ul a:hover {
  background: #000;
}

nav#sidebar ul a:hover i {
  color: #cc5200;
}

/* List item icons */
nav#sidebar ul a i {
  margin-right: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding-right: 20px;
  border-right: 1px solid #454649;
}

/* Fixes sublist item selection highlighting */
nav#sidebar li {
  position: relative;
}

nav#sidebar li::before {
  content: '';
  width: 2px;
  height: 100%;
  position: absolute;
  z-index: 99;
}

nav#sidebar li.active::before {
  background: #cc5200;
}

nav#sidebar li.active a {
  color: #cc5200;
}

nav#sidebar p{
  display: inline;
}

/* Highlights associated list and sub list items */
.highlight i {
  color: #cc5200;
}

.highlight p {
  color: #cc5200;
  display: inline;
}

/* ========================================================== */
/*     Shrinked Sidebar
/* ========================================================== */

/* Sidebar Media Query ----------------------------------- */
@media (max-width: 1199px) {
  nav#sidebar {
    position: fixed;
    width: 90px;
  }
  .page-content {
    width: calc(100% - 90px);
  }
  .page-content.active {
    width: 100%;
  }
  nav#sidebar li::before {
    width: 3px;
  }
  nav#sidebar ul a {
    padding: 12px 5px;
    display: block;
    font-weight: 400;
    text-align: center;
    font-size: 0.8rem;
  }
  nav#sidebar ul i {
    font-size: 1.2rem;
    text-align: center !important;
    width: 100%;
    display: block !important;
    border: none !important;
    padding: 0 !important;
  }
  nav#sidebar ul ul a {
    padding-left: 10px;
  }
  #icon-container {
    position: absolute;
    text-align: center;
    margin: 0 0 20 0 !important;
  }
}

/* ========================================================== */
/*     SOCIAL ICONS
/* ========================================================== */
#social-icons {
  margin: 0 0 20 0;
}

#icon-container {
  margin: 0 auto;
}

#social-icons a {
  display: inline-block;
  text-align: center;
}

#social-icons i {
  margin: 0 !important;
  padding-top: 5px;
  color: #cc5200;
  width: 30px;
  height: 30px;
}

#social-icons i:hover {
  color: #000000;
}

#social-icons i::after {
  position: absolute;
  margin: 0;
  padding: 0;
  content: "";
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #cc5200;
  border-radius: 3px;
  -webkit-transform: rotate(45deg);
      moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 300ms;
     -moz-transition: all 300ms;
       -o-transition: all 300ms;
          transition: all 300ms;
}

#social-icons i:hover::after{
  background: #cc5200;
  border: 1px solid #000000;
  z-index: -1;
}