.table {
  margin-bottom: 0;
}

.table td,
.table th {
  color: #8a8d93;
  border-color: black;
}

.table thead th {
  border-bottom: 1px solid  #8a8d93;
}

.first-row th {
  border-top: none;
}

.table-striped tbody tr {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

tr div {
  padding: 0 0 2 4;
}

tr div:hover {
  cursor: pointer;
  background-color: #000 !important;
}

.normal-table tr:hover {
  cursor: pointer;
  background-color: #000 !important;
}

.row-unstyled:hover {
  background-color: inherit !important;
  cursor: default;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #282b2f;
}
