.block {
  padding: 20 20 20 20;
  background: #2d3035;
  color: #8a8d93;
  margin-bottom: 30px;
  border: 2px solid black;
}

.block .title {
  margin-bottom: 20px;
}

.block .title strong:first-child {
  font-size: 1.25rem;
  color: #a5a7ab;
}

.block .title span:first-child {
  font-weight: 300;
  font-size: 0.95rem;
}


.block-header {
  color: #cc5200;
  padding-bottom: .2em;
  border-bottom:solid 4px black;
}

.block-subheader {
  color: #8a8d93;
  padding-top: .5em;
  font-size: .65em;
}

.project {
    padding: 0 20 20 20 !important;
}

@media (max-width: 991px) {
  .expander {
    display: none;
  }
  .project {
    padding: 20 20 20 20 !important;
  }
}

/* ========================================================== */
/*     IMAGE SLIDER
/* ========================================================== */
.slideshow-container {
  position: relative;
}

.mySlides img {
  position: relative;
  max-height: 600px;
  max-width: 100%;
  top : 0;
  left: 0;
  right: 0;
  margin : auto;
  pointer-events: none;
}

.arrow {
  position: relative;
  top: 50%;
  transform: translateY(-50%); /* Not quite center without this line */
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0 16px 0 16px;
  margin-bottom: 20px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;

    /* Prevent highlighting of directional arrows */
  -ms-user-select: none; /* Internet Explorer/Edge */
      user-select: none; /* Chrome and Opera */
}

.next {
  right: 0;
  border-radius: 5px 0 0 5px;
}

.prev {
  left: 0;
  border-radius: 0 5px 5px 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.mySlides p {
  position: absolute;
  color: #f2f2f2;
  width: 100%;
  text-align: center;
  margin: 0;
  bottom: -0.5em;
}

/* Fading animation */
.mySlides img {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  padding-bottom: 20;
}

@-webkit-keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}

/* ========================================================== */
/*     Expanding Blocks
/* ========================================================== */
.expander {
  position: relative;
  text-align: right;
  height: 15px;
}

.expander i {
  cursor: pointer;
  position: absolute;
  right: -20;
  font-size: 25px;
  padding: 5px;
  color: #cc5200;
}

.expander i:hover {
  color: #000000;
}

.nodisp{
  display: none;
}
