---
title: Analytics
category: Projects
order: 1
icon: layers
---
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
	<div class="d-flex align-items-stretch">
      {% include sidebar.html %}
      <div class="page-content">
        <div class="page-header">
          <div class="container-fluid">
            <h4> Analytical Projects </h4>
          </div>
        </div>

        <section>
          <div class="container-fluid">
			<div class="row">
              <div class="col-lg-4">
                <div class="block">
                  <h3 class="block-header"> Price Abstracter </h3>
				  <p> A handy little price abstraction tool for common websites such as Craigslist and Ebay. Useful to
                      analyze car prices or apt rentals and helps find the best option. Soon to include apt rental or housing
                      websites such as Zillow and Trulia. Output results in scatter plot, with each point linked to original ad.
                      <br> <a href="https://github.com/JoshWilkins2013/PriceBot" target="_blank"> Link </a> to repository
                  </p>

                  <div class="slideshow-container">
  				    <div id="PriceBotSlider" class="mySlides"></div>
				    <a class="prev" onclick="PriceBotSlides(PriceBotSlideIndex -= 1)"><p class="arrow">&#10094;</p></a>
				    <a class="next" onclick="PriceBotSlides(PriceBotSlideIndex += 1)"><p class="arrow">&#10095;</p></a>
				  </div>

                </div>
              </div>

              <div class="col-lg-4">
                <div class="block">
                  <h3 class="block-header"> Make/Model Comparison </h3>
				  <p> A direct result of the Price Abstracter, I analyzed which car model was best within each make. From that information,
                      I determined the best model across all makes (Nissan Versa). The results indicate that cars with higher initial values depreciate faster.
                      So the cheapest car is the best car to buy if you are going to buy new. If the prices were to be normalized by their intial price,
                      a more even distribution of depreciation rates would probably be seen, just indicating that all cars depreciate at the same weighted rate.
                      <br> <a href="https://github.com/JoshWilkins2013/PriceBot/tree/master/docs/Analysis" target="_blank"> Link </a> to Notebook<br>
                      <a href="Storage\Projects\MakeModelComparison.html" target="_blank">
                        <button type="submit">The Analysis</button>
                      </a>
                  </p>

                  <div class="slideshow-container">
  				    <div id="MakeModelSlider" class="mySlides"></div>
				    <a class="prev" onclick="MakeModelSlides(MakeModelSlideIndex -= 1)"><p class="arrow">&#10094;</p></a>
				    <a class="next" onclick="MakeModelSlides(MakeModelSlideIndex += 1)"><p class="arrow">&#10095;</p></a>
				  </div>

                </div>
              </div>

              <div class="col-lg-4">
                <div class="block">
                  <h3 class="block-header">Buying a House</h3>

                  <p>If you're anything like me, then I'm sure you're sick of paying rent, wondering why you are paying
                    someone else when this money could go into owning a house. At first, it seems like a no-brainer!
                    Trade your rent in for a mortgage payment and then at least some of your money is being saved.
                    But there are a bunch of things you don't consider when this thought first crosses your mind.
                    Here's to shedding some light on purchasing your first house.<br>
                    <a href="https://github.com/JoshWilkins2013/JupyterNotebooks/tree/master/House" target=\"_blank\">Repository</a> \
                    <a href="https://mybinder.org/v2/gh/JoshWilkins2013/JupyterNotebooks/master?filepath=House%2FHouse.ipynb\" target=\"_blank\">Binder</a>
                  </p>

				  <div class="slideshow-container">
  				    <div id="HouseSlider" class="mySlides"></div>
				    <a class="prev" onclick="HouseSlides(HouseSlideIndex -= 1)"><p class="arrow">&#10094;</p></a>
				    <a class="next" onclick="HouseSlides(HouseSlideIndex += 1)"><p class="arrow">&#10095;</p></a>
				  </div>

                </div>
              </div>

            </div>
          </div>
        </section>
		{% include footer.html %}
      </div>
    </div>
  <script src="../js/analytics.js"></script>
  </body>
</html>