---
title: Carestream
category: Experience
order: 1
icon: dashboard
---
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
	<div class="d-flex align-items-stretch">
      {% include sidebar.html %}

      <div class="page-content">
        <div class="page-header">
          <img src="img/Banners/Carestream_Banner.png">
        </div>

        <section>
          <div class="container-fluid">
			<div class="row">
			  <div class="col-lg-6">
                <div class="block">

                  <h4 style="color:#8a8d93" class="block-header">
                    <span style="float:left"> Electrical Test Technician </span>
                    <span>&nbsp;</span>
                    <span class="block-subheader" style="float:right"> 05/25/2015 - 01/08/2016 </span>
                  </h4>

                  <table class="table table-striped table-sm">
                    <tbody>
                      <tr>
                        <th><a href="#/" onclick="task11()">AGM lead-acid battery test fixture</a></th>
                      </tr>
					  <tr>
                        <th><a href="#/" onclick="task12()">Battery life enhancement</a></th>
                      </tr>
					  <tr>
                        <th><a href="#/" onclick="task13()">X-ray machine bucky pcb: Failure diagnosis</a></th>
                      </tr>
					</tbody>
                  </table>
                </div>

                <div class="block">
                  <h4 style="color:#8a8d93" class="block-header">
                    <span style="float:left"> Automation Test Lead </span>
                    <span>&nbsp;</span>
                    <span class="block-subheader" style="float:right"> 05/23/2016 - 02/10/2017 </span>
                  </h4>

                  <table class="table table-striped table-sm">
                    <tbody>
                      <tr>
                        <th><a href="#/" onclick="task21()">Automation test framework management</a></th>
                      </tr>
					  <tr>
                        <th><a href="#/" onclick="task22()">Intra-division communication enhancement</a></th>
                      </tr>
					  <tr>
                        <th><a href="#/" onclick="task23()">Agile practices: Scrum and Test Driven Development</a></th>
                      </tr>
                      <tr>
                        <th><a href="#/" onclick="task24()">Leadership / Management</a></th>
                      </tr>
					</tbody>
                  </table>
                </div>
              </div>
			  <div class="col-lg-6">
			    <div class="block">
                  <div id="details-title" class="title"><h5 style="color:#cc5200">Medical Imaging Devices</h5></div>
                  <div id="details-description">
  				    <div class="slideshow-container">
                      <div id="CarestreamSlider" class="myslides"></div>
                      <a class="prev" onclick="CarestreamSlides(CarestreamSlideIndex -= 1)"><p class="arrow">&#10094;</p></a>
                      <a class="next" onclick="CarestreamSlides(CarestreamSlideIndex += 1)"><p class="arrow">&#10095;</p></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        {% include footer.html %}

      </div>
    </div>
  <script src="js/carestream.js"></script>

  </body>
</html>