---
title: Carestream
category: Experience
order: 1
icon: dashboard
---
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
	<div class="d-flex align-items-stretch">
      {% include sidebar.html %}

      <div class="page-content">
        <div class="page-header">
          <img src="img/Banners/Carestream_Banner.png">
        </div>

        <section>
          <div class="container-fluid">
			<div class="row">
			  <div class="col-lg-6">
                <div class="block">
                  <h4 class="block-header">Electrical Test Technician</h4>
				  <h6>05/25/2015 - 01/08/2016</h6>
                  <table class="table table-striped table-sm">
                    <tbody>
                      <tr>
                        <th><a href="#/" onclick="task11()">AGM lead-acid battery test fixture</a></th>
                      </tr>
					  <tr>
                        <th><a href="#/" onclick="task12()">Battery life enhancement</a></th>
                      </tr>
					  <tr>
                        <th><a href="#/" onclick="task13()">X-ray machine bucky pcb: Failure diagnosis</a></th>
                      </tr>
					</tbody>
                  </table>
                </div>

                <div class="block">
                  <h4 class="block-header">Automation Test Lead</h4>
				  <h6>05/23/16 - 02/10/2017</h6>
                  <table class="table table-striped table-sm">
                    <tbody>
                      <tr>
                        <th><a href="#/" onclick="task21()">Automation test framework management</a></th>
                      </tr>
					  <tr>
                        <th><a href="#/" onclick="task22()">Intra-division communication enhancement</a></th>
                      </tr>
					  <tr>
                        <th><a href="#/" onclick="task23()">Agile practices: Scrum and Test Driven Development</a></th>
                      </tr>
                      <tr>
                        <th><a href="#/" onclick="task24()">Leadership / Management</a></th>
                      </tr>
					</tbody>
                  </table>
                </div>
              </div>
			  <div class="col-lg-6">
			    <div class="block">
                  <div id="details-title" class="title"><strong>Medical Imaging Devices</strong></div>
                  <div id="details-description">
  				    <div class="mySlides slideshow-container">
                      <div id="CarestreamSlider"></div>
                      <a class="prev" onclick="CarestreamSlides(CarestreamSlideIndex -= 1)">&#10094;</a>
                      <a class="next" onclick="CarestreamSlides(CarestreamSlideIndex += 1)">&#10095;</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        {% include footer.html %}

      </div>
    </div>
  <script src="js/carestream.js"></script>

  </body>
</html>