---
title: DSU
category: Education
order: 3
icon: flask
---
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
	<div class="d-flex align-items-stretch">
      {% include sidebar.html %}
	  
	  <div class="page-content">
        <section class="no-padding-top">
          <div class="container-fluid">
            <div class="row">
			  <div class="col-lg-5">
                <div class="block">
                  <div style="color: #cc5200; display: flex; align-items:center; justify-content:center; position:relative;">
                    <h4> <a href="mcc">DSU</a></h4>
                    <h4 style="position:absolute; right:0; bottom: 4px; margin-bottom: 0px" class="block-subheader">2018</h4>
                  </div>
                  <table class="table table-striped table-sm">
                    <thead>
                      <tr style="border-top: solid black 4px;">
                        <th style="color:#FFFFFF">Course Name</th>
                        <th style="text-align: center; color:#FFFFFF">Credits</th>
                        <th style="text-align: center; color:#FFFFFF">Course #</th>
                        <th style="text-align: center; color:#FFFFFF">Grade</th>
                      </tr>
                    </thead>
					<tbody>
                      <tr onclick="BADM712()">
						<th style="color:#cc5200">Advanced Business Finance</th>
                        <td style="text-align: center">3</td>
                        <td style="text-align: center">BADM 712</td>
                        <td style="text-align: center"></td>
                      </tr>
                      <tr onclick="ECON730()">
						<th style="color:#cc5200">Economics For Decision Making</th>
                        <td style="text-align: center">3</td>
                        <td style="text-align: center">ECON 730</td>
                        <td style="text-align: center"></td>
                      </tr>
                      <tr onclick="INFS762()">
						<th style="color:#cc5200">Data Warehousing and Data Mining</th>
                        <td style="text-align: center">3</td>
                        <td style="text-align: center">INFS 762</td>
                        <td style="text-align: center">A</td>
                      </tr>
                      <tr onclick="INFS768()">
                        <th style="color:#cc5200">Predictive Analytics for Decision Making</th>
                        <td style="text-align: center">3</td>
                        <td style="text-align: center">INFS 768</td>
                        <td style="text-align: center"></td>
                      </tr>
                      <tr onclick="INFS770()">
                        <th style="color:#cc5200">Advanced Data Mining Applications</th>
                        <td style="text-align: center">3</td>
                        <td style="text-align: center">INFS 770</td>
                        <td style="text-align: center"></td>
                      </tr>
                      <tr onclick="INFS772()">
						<th style="color:#cc5200">Programming for Data Analytics</th>
                        <td style="text-align: center">3</td>
                        <td style="text-align: center">INFS 772</td>
                        <td style="text-align: center"></td>
                      </tr>
                      <tr onclick="INFS774()">
						<th style="color:#cc5200">Big Data Analytics</th>
                        <td style="text-align: center">3</td>
                        <td style="text-align: center">INFS 774</td>
                        <td style="text-align: center">A</td>
                      </tr>
                      <tr onclick="STAT700()">
						<th style="color:#cc5200">Statistical Programming</th>
                        <td style="text-align: center">3</td>
                        <td style="text-align: center">STAT 700</td>
                        <td style="text-align: center">A</td>
                      </tr>
                      <tr onclick="STAT701()">
						<th style="color:#cc5200">Modern Applied Statistics I</th>
                        <td style="text-align: center">3</td>
                        <td style="text-align: center">STAT 701</td>
                        <td style="text-align: center"></td>
                      </tr>
                      <tr onclick="STAT702()">
						<th style="color:#cc5200">Modern Applied Statistics II</th>
                        <td style="text-align: center">3</td>
                        <td style="text-align: center">STAT 702</td>
                        <td style="text-align: center"></td>
                      </tr>
                      <tr class="row-unstyled" style="border-top: solid black 4px;">
                        <th style="padding-bottom: 0;"></th>
                        <td style="padding-bottom: 0; text-align: center"></td>
                        <td style="padding-bottom: 0; color: FFFFFF; font-weight: bold; text-align: center">GPA</td>
                        <td style="padding-bottom: 0; color: FFFFFF; font-weight: bold; text-align: center">4.0</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
			  <div class="col-lg-7">
			    <div class="project block">
                  <div class="expander"><i class="fas fa-plus-square"></i></div>
			      <div id="course-title" class="title"><h5 style="color:#cc5200">Life at DSU</h5></div>
                  <div id="course-description">
                    After working full-time as an electrical engineer at Microsemi for a year, I began taking
                    classes at Dakota State University (DSU) to pursue a master's degree in data science. While
                    I enjoyed my work in electrical engineering, I was also deeply interested in data, analysis,
                    and automation. Although I wasn’t able to complete the degree at the time due to time
                    constraints, I may return to finish the coursework in the future.
                  </div>
                  <p id="course-extra"></p>
			    </div>
                <!--
                <a href="Storage\Education\DSU_Transcript.pdf" target="_blank">
                  <button type="submit" style="margin-bottom: 20px">Transcript</button>
                </a>
                -->
			  </div>
            </div>
          </div>
        </section>
        {% include footer.html %}
      </div>
    </div>
    <script src="js/dsu.js"></script>
  </body>
</html>