---
title: DSU
category: Education
order: 3
icon: flask
---
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
	<div class="d-flex align-items-stretch">
      {% include sidebar.html %}
	  
	  <div class="page-content">
        <div class="page-header" style="margin-top: 0;">
          <div class="container-fluid">
            <a href="#/"><img onmouseover="funcDelay= setTimeout('LifeAtDSU()', 250)" onmouseout="clearTimeout(funcDelay)" onclick="LifeAtDSU()" src="img/Banners/DSU_Banner.png"></a>
          </div>
        </div>

        <section class="no-padding-top">
          <div class="container-fluid">
            <div class="row">
			  <div class="col-lg-5">
                <div class="block">
                  <h4 class="block-header" onmouseover="funcDelay= setTimeout('LifeAtDSU()', 250)" onmouseout="clearTimeout(funcDelay)" onclick="LifeAtDSU()"> <a href="#/"> Life at DSU </a></h4>
                  <table class="table table-striped table-sm">
                    <thead>
                      <tr>
                        <th><center>Course Name</center></th>
                        <th><center>Credits</center></th>
                        <th style="white-space:nowrap"><center>Course #</center></th>
                        <th><center>Grade</center></th>
                      </tr>
                    </thead>
					<tbody>
                      <tr>
						<th><a href="#/" onmouseover="funcDelay= setTimeout('BADM712()', 250)" onmouseout="clearTimeout(funcDelay)" onclick="BADM712()">Advanced Business Finance</a></th>
                        <td><center>3</center></td>
                        <td><center>BADM 712</center></td>
                        <td><center></center></td>
                      </tr>
                      <tr>
						<th><a href="#/" onmouseover="funcDelay= setTimeout('ECON730()', 250)" onmouseout="clearTimeout(funcDelay)" onclick="ECON730()">Economics For Decision Making</a></th>
                        <td><center>3</center></td>
                        <td><center>ECON 730</center></td>
                        <td><center></center></td>
                      </tr>
                      <tr>
						<th><a href="#/" onmouseover="funcDelay= setTimeout('INFS762()', 250)" onmouseout="clearTimeout(funcDelay)" onclick="INFS762()">Data Warehousing and Data Mining</a></th>
                        <td><center>3</center></td>
                        <td><center>INFS 762</center></td>
                        <td><center>A</center></td>
                      </tr>
                      <tr>
                        <th><a href="#/" onmouseover="funcDelay= setTimeout('INFS768()', 250)" onmouseout="clearTimeout(funcDelay)" onclick="INFS768()">Predictive Analytics for Decision Making</a></th>
                        <td><center>3</center></td>
                        <td><center>INFS 768</center></td>
                        <td><center></center></td>
                      </tr>
                      <tr>
                        <th><a href="#/" onmouseover="funcDelay= setTimeout('INFS770()', 250)" onmouseout="clearTimeout(funcDelay)" onclick="INFS770()">Advanced Data Mining Applications</a></th>
                        <td><center>3</center></td>
                        <td><center>INFS 770</center></td>
                        <td><center></center></td>
                      </tr>
                      <tr>
						<th><a href="#/" onmouseover="funcDelay= setTimeout('INFS772()', 250)" onmouseout="clearTimeout(funcDelay)" onclick="INFS772()">Programming for Data Analytics</a></th>
                        <td><center>3</center></td>
                        <td><center>INFS 772</center></td>
                        <td><center></center></td>
                      </tr>
                      <tr>
						<th><a href="#/" onmouseover="funcDelay= setTimeout('INFS774()', 250)" onmouseout="clearTimeout(funcDelay)" onclick="INFS774()">Big Data Analytics</a></th>
                        <td><center>3</center></td>
                        <td><center>INFS 774</center></td>
                        <td><center>A</center></td>
                      </tr>
                      <tr>
						<th><a href="#/" onmouseover="funcDelay= setTimeout('STAT700()', 250)" onmouseout="clearTimeout(funcDelay)" onclick="STAT700()">Statistical Programming</a></th>
                        <td><center>3</center></td>
                        <td><center>STAT 700</center></td>
                        <td><center>A</center></td>
                      </tr>
                      <tr>
						<th><a href="#/" onmouseover="funcDelay= setTimeout('STAT701()', 250)" onmouseout="clearTimeout(funcDelay)" onclick="STAT701()">Modern Applied Statistics I</a></th>
                        <td><center>3</center></td>
                        <td><center>STAT 701</center></td>
                        <td><center></center></td>
                      </tr>
                      <tr>
						<th><a href="#/" onmouseover="funcDelay= setTimeout('STAT702()', 250)" onmouseout="clearTimeout(funcDelay)" onclick="STAT702()">Modern Applied Statistics II</a></th>
                        <td><center>3</center></td>
                        <td><center>STAT 702</center></td>
                        <td><center></center></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
			  <div class="col-lg-7">
			    <div class="block">
			      <div id="course-title" class="title"><h5 style="color:#cc5200">Life at DSU</h5></div>
                  <div id="course-description">
                    After a year working full-time as an electrical engineer at Microsemi, I started attending
                    classes at Dakota State University (DSU).
                  </div>
                  <p id="course-extra"></p>
			    </div>
                <!--
                <a href="Storage\Education\DSU_Transcript.pdf" target="_blank">
                  <button type="submit" style="margin-bottom: 20px">Transcript</button>
                </a>
                -->
			  </div>
            </div>
          </div>
        </section>
        {% include footer.html %}
      </div>
    </div>
    <script src="js/dsu.js"></script>
  </body>
</html>