---
title: House
category: Projects
order: 3
icon: light-bulb
---
<html>
  {% include head.html %}
  <body>
	{% include header.html %}
	<div class="d-flex align-items-stretch">
      {% include sidebar.html %}
	  
      <div class="page-content">
		<section>
          <div class="container-fluid">
            <div class="row">

              <div class="col-lg-4">
                {% assign images_dir = "img/House/Roof" %}
                {% capture block_description %}
                  I purchased this house in 2021, fully aware that the roof above the front door was likely
                  leaking. A few months later, I took on the task of re-shingling the roof. It was a lot of
                  work, but the outcome was definitely worth it.
                {% endcapture %}
                {% include block.html %}

                {% assign images_dir = "img/House/Kitchen" %}
                {% capture block_description %}
                  Another significant upgrade I made to the house was a complete kitchen renovation. It was clear
                  the previous owners just slapped on some paint and called it a day. Some of the more notable
                  improvements I made include tiling the floor, making custom cabinets, and removing a window.
                {% endcapture %}
                {% include block.html %}
              </div>

			  <div class="col-lg-4">

                {% assign images_dir = "img/House/Linen_Closet" %}
                {% capture block_description %}
                  Another significant upgrade I made to the house was a complete kitchen renovation. It was clear
                  the previous owners just slapped on some paint and called it a day. Some of the more notable
                  improvements I made include tiling the floor, making custom cabinets, and removing a window.
                {% endcapture %}
                {% include block.html %}

                {% assign images_dir = "img/House/Misc" %}
                {% capture block_description %}
                  Another significant upgrade I made to the house was a complete kitchen renovation. It was clear
                  the previous owners just slapped on some paint and called it a day. Some of the more notable
                  improvements I made include tiling the floor, making custom cabinets, and removing a window.
                {% endcapture %}
                {% include block.html %}
              </div>

			  <div class="col-lg-4">
                {% assign images_dir = "img/House/Entryway" %}
                {% capture block_description %}
                  Another significant upgrade I made to the house was a complete kitchen renovation. It was clear
                  the previous owners just slapped on some paint and called it a day. Some of the more notable
                  improvements I made include tiling the floor, making custom cabinets, and removing a window.
                {% endcapture %}
                {% include block.html %}

                {% assign images_dir = "img/House/Siding" %}
                {% capture block_description %}
                  Another significant upgrade I made to the house was a complete kitchen renovation. It was clear
                  the previous owners just slapped on some paint and called it a day. Some of the more notable
                  improvements I made include tiling the floor, making custom cabinets, and removing a window.
                {% endcapture %}
                {% include block.html %}
              </div>

            </div>
          </div>
        </section>
        {% include footer.html %}
      </div>
    </div>
    <script>document.getElementById("header-text").innerHTML = "<a style='text-decoration: none' href='house'>House Projects</a>";</script>
    <script src="../js/block.js"></script>
  </body>
</html>