---
title: MCC
category: Education
order: 1
icon: flask
---
<html>
  {% include head.html %}
  <body>
	{% include header.html %}

	<div class="d-flex align-items-stretch">
      {% include sidebar.html %}
	  
	  <div class="page-content">
        <div class="page-header" style="margin-top: 0;">
          <div class="container-fluid">
            <a href="#/"><img onmouseover="funcDelay= setTimeout('LifeAtMCC()', 250)" onmouseout="clearTimeout(funcDelay)" onclick="LifeAtMCC()" src="img/Banners/MCC_Banner.png"></a>
          </div>
        </div>
        <a href="Storage\Education\MCC_Transcript.pdf" target="_blank">
          <button type="submit" style="margin-bottom: 20px">Transcript</button>
        </a>

        <section class="no-padding-top">
          <div class="container-fluid">
            <div class="row">

			  <div class="col-lg-6">
                <div class="block">
                  <h4 class="block-header" onmouseover="funcDelay= setTimeout('LifeAtMCC()', 250)" onmouseout="clearTimeout(funcDelay)" onclick="LifeAtMCC()"> <a href="#/"> Life at MCC </a></h4>
                  <table class="table table-striped table-sm">
                    <thead>
                      <tr>
                        <th><center>Course Name</center></th>
                        <th><center>Credits</center></th>
                        <th><center>Course #</center></th>
                        <th><center>Grade</center></th>
                      </tr>
                    </thead>
					<tbody>
					  <tr>
						<th><a href="#/" onmouseover="funcDelay= setTimeout('ENR153()', 250)" onmouseout="clearTimeout(funcDelay)" onclick="ENR153()">Graphing and Machining</a></th>
                        <td><center>4</center></td>
                        <td><center>ENR 153</center></td>
                        <td><center>A</center></td>
                      </tr>
					  <tr>
                        <th><a href="#/" onmouseover="funcDelay= setTimeout('ENR157()', 250)" onmouseout="clearTimeout(funcDelay)" onclick="ENR157()">Digital Electronics and Microcontrollers</a></th>
                        <td><center>4</center></td>
                        <td><center>ENR 157</center></td>
                        <td><center>A</center></td>
                      </tr>
					  <tr>
                        <th><a href="#/" onmouseover="funcDelay= setTimeout('ENR161()', 250)" onmouseout="clearTimeout(funcDelay)" onclick="ENR161()">Engineering Computing I</a></th>
                        <td><center>3</center></td>
                        <td><center>ENR 161</center></td>
                        <td><center>A</center></td>
                      </tr>
					  <tr>
                        <th><a href="#/" onmouseover="funcDelay= setTimeout('ENR251()', 250)" onmouseout="clearTimeout(funcDelay)" onclick="ENR251()">Statics</a></th>
                        <td><center>3</center></td>
                        <td><center>ENR 251</center></td>
                        <td><center>A-</center></td>
                      </tr>
					  <tr>
                        <th><a href="#/" onmouseover="funcDelay= setTimeout('ENR253()', 250)" onmouseout="clearTimeout(funcDelay)" onclick="ENR253()">Circuit Analysis I</a></th>
                        <td><center>4</center></td>
                        <td><center>ENR 253</center></td>
                        <td><center>A</center></td>
                      </tr>
					  <tr>
                        <th><a href="#/" onmouseover="funcDelay= setTimeout('ENR254()', 250)" onmouseout="clearTimeout(funcDelay)" onclick="ENR254()">Circuit Analysis II</a></th>
                        <td><center>3</center></td>
                        <td><center>ENR 254</center></td>
                        <td><center>A</center></td>
                      </tr>
					  <tr>
                        <th><a href="#/" onmouseover="funcDelay= setTimeout('ENR256()', 250)" onmouseout="clearTimeout(funcDelay)" onclick="ENR256()">Mechanics of Materials</a></th>
                        <td><center>3</center></td>
                        <td><center>ENR 256</center></td>
                        <td><center>B</center></td>
                      </tr>
					  <tr>
                        <th><a href="#/" onmouseover="funcDelay= setTimeout('ENR259()', 250)" onmouseout="clearTimeout(funcDelay)" onclick="ENR259()">Engineering Design Lab</a></th>
                        <td><center>1</center></td>
                        <td><center>ENR 259</center></td>
                        <td><center>A</center></td>
                      </tr>
					  <tr>
                        <th><a href="#/" onmouseover="funcDelay= setTimeout('ENR261()', 250)" onmouseout="clearTimeout(funcDelay)" onclick="ENR261()">Engineering Computing II </a></th>
                        <td><center>3</center></td>
                        <td><center>ENR 261</center></td>
                        <td><center>A</center></td>
                      </tr>
					  <tr>
                        <th><a href="#/" onmouseover="funcDelay= setTimeout('MTH211()', 250)" onmouseout="clearTimeout(funcDelay)" onclick="MTH211()">Calculus II</a></th>
                        <td><center>4</center></td>
                        <td><center>MTH 211</center></td>
                        <td><center>A-</center></td>
                      </tr>
					  <tr>
                        <th><a href="#/" onmouseover="funcDelay= setTimeout('MTH212()', 250)" onmouseout="clearTimeout(funcDelay)" onclick="MTH212()">Calculus III</a></th>
                        <td><center>4</center></td>
                        <td><center>MTH 212</center></td>
                        <td><center>A</center></td>
                      </tr>
					  <tr>
                        <th><a href="#/" onmouseover="funcDelay= setTimeout('MTH220()', 250)" onmouseout="clearTimeout(funcDelay)" onclick="MTH220()">Discrete Math</a></th>
                        <td><center>3</center></td>
                        <td><center>MTH 220</center></td>
                        <td><center>A</center></td>
                      </tr>
					  <tr>
                        <th><a href="#/" onmouseover="funcDelay= setTimeout('MTH225()', 250)" onmouseout="clearTimeout(funcDelay)" onclick="MTH225()">Differential Equations</a></th>
                        <td><center>4</center></td>
                        <td><center>MTH 225</center></td>
                        <td><center>A</center></td>
                      </tr>
					  <tr>
                        <th><a href="#/" onmouseover="funcDelay= setTimeout('MTH230()', 250)" onmouseout="clearTimeout(funcDelay)" onclick="MTH230()">Linear Algebra</a></th>
                        <td><center>4</center></td>
                        <td><center>MTH 230</center></td>
                        <td><center>A</center></td>
                      </tr>
					  <tr>
                        <th><a href="#/" onmouseover="funcDelay= setTimeout('CHE151()', 250)" onmouseout="clearTimeout(funcDelay)" onclick="CHE151()">General College Chemistry I</a></th>
                        <td><center>4</center></td>
                        <td><center>CHE 151</center></td>
                        <td><center>A</center></td>
                      </tr>
					  <tr>
                        <th><a href="#/" onmouseover="funcDelay= setTimeout('PHY161()', 250)" onmouseout="clearTimeout(funcDelay)" onclick="PHY161()">University Physics I</a></th>
                        <td><center>4</center></td>
                        <td><center>PHY 161</center></td>
                        <td><center>A</center></td>
                      </tr>
					  <tr>
                        <th><a href="#/" onmouseover="funcDelay= setTimeout('PHY261()', 250)" onmouseout="clearTimeout(funcDelay)" onclick="PHY261()">University Physics II</a></th>
                        <td><center>4</center></td>
                        <td><center>PHY 261</center></td>
                        <td><center>A</center></td>
                      </tr>
					  <tr>
                        <th><a href="#/" onmouseover="funcDelay= setTimeout('PHY262()', 250)" onmouseout="clearTimeout(funcDelay)" onclick="PHY262()">Modern Physics</a></th>
                        <td><center>4</center></td>
                        <td><center>PHY 262</center></td>
                        <td><center>A</center></td>
                      </tr>
					  <tr>
                        <th><a href="#/" onmouseover="funcDelay= setTimeout('CSC202()', 250)" onmouseout="clearTimeout(funcDelay)" onclick="CSC202()">Embedded C & Assembly</a></th>
                        <td><center>4</center></td>
                        <td><center>CSC 202</center></td>
                        <td><center>A</center></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
			  <div class="col-lg-6">
			    <div class="block">
			      <div id="course-title" class="title"><h5 style="color:#cc5200">Life at MCC</h5></div>
				  <div id="course-description">
                    After graduating high school, I attended classes at MCC starting in the fall of 2013.
                    It wasn't long before I discovered their robotics competition and I decided to join.
                    That spring, we placed 2nd in the ASEE National Robotics competition, which was held in Indianapolis, IN.
                    The following year, I became secretary of the Engineering Leadership Council.
                    I helped start fundraisers, host trips to neighboring universities, and helped other students through the engineering program.
                    Again I decided to join the robotics competition and again we placed 2nd.
                    I graduated that spring (2015) with an associates degree in Engineering Science.
                  </div>
				  <p id="course-extra"></p>
			    </div>
			  </div>
            </div>
          </div>
        </section>

        {% include footer.html %}

      </div>
    </div>
    <script src="js/mcc.js"></script>
  </body>
</html>