---
title: MCC
category: Education
order: 1
icon: flask
---
<html>
  {% include head.html %}
  <body>
	{% include header.html %}

	<div class="d-flex align-items-stretch">
      {% include sidebar.html %}
	  
	  <div class="page-content">
        <div class="page-header" style="margin-top: 0;">
          <div class="container-fluid">
            <a href="#/"><img onclick="LifeAtMCC()" src="img/Banners/MCC_Banner.png"></a>
          </div>
        </div>

        <section class="no-padding-top">
          <div class="container-fluid">
            <div class="row">

			  <div class="col-lg-5">
                <div class="block">
                  <h4 class="block-header" onclick="LifeAtMCC()"> <a href="#/"> Life at MCC </a></h4>
                  <table class="table table-striped table-sm">
                    <thead>
                      <tr>
                        <th><center>Course Name</center></th>
                        <th><center>Credits</center></th>
                        <th style="white-space:nowrap"><center>Course #</center></th>
                        <th><center>Grade</center></th>
                      </tr>
                    </thead>
					<tbody>
					  <tr onclick="ENR153()">
						<th style="color:#cc5200">Graphing and Machining</th>
                        <td><center>4</center></td>
                        <td><center>ENR 153</center></td>
                        <td><center>A</center></td>
                      </tr>
					  <tr onclick="ENR157()">
                        <th style="color:#cc5200">Digital Electronics and Microcontrollers</th>
                        <td><center>4</center></td>
                        <td><center>ENR 157</center></td>
                        <td><center>A</center></td>
                      </tr>
					  <tr onclick="ENR161()">
                        <th style="color:#cc5200">Engineering Computing I</th>
                        <td><center>3</center></td>
                        <td><center>ENR 161</center></td>
                        <td><center>A</center></td>
                      </tr>
					  <tr onclick="ENR251()">
                        <th style="color:#cc5200">Statics</th>
                        <td><center>3</center></td>
                        <td><center>ENR 251</center></td>
                        <td><center>A-</center></td>
                      </tr>
					  <tr onclick="ENR253()">
                        <th style="color:#cc5200">Circuit Analysis I</th>
                        <td><center>4</center></td>
                        <td><center>ENR 253</center></td>
                        <td><center>A</center></td>
                      </tr>
					  <tr onclick="ENR254()">
                        <th style="color:#cc5200">Circuit Analysis II</th>
                        <td><center>3</center></td>
                        <td><center>ENR 254</center></td>
                        <td><center>A</center></td>
                      </tr>
					  <tr onclick="ENR256()">
                        <th style="color:#cc5200">Mechanics of Materials</th>
                        <td><center>3</center></td>
                        <td><center>ENR 256</center></td>
                        <td><center>B</center></td>
                      </tr>
					  <tr onclick="ENR259()">
                        <th style="color:#cc5200">Engineering Design Lab</th>
                        <td><center>1</center></td>
                        <td><center>ENR 259</center></td>
                        <td><center>A</center></td>
                      </tr>
					  <tr onclick="ENR261()">
                        <th style="color:#cc5200">Engineering Computing II </th>
                        <td><center>3</center></td>
                        <td><center>ENR 261</center></td>
                        <td><center>A</center></td>
                      </tr>
					  <tr onclick="MTH211()">
                        <th style="color:#cc5200">Calculus II</th>
                        <td><center>4</center></td>
                        <td><center>MTH 211</center></td>
                        <td><center>A-</center></td>
                      </tr>
					  <tr onclick="MTH212()">
                        <th style="color:#cc5200">Calculus III</th>
                        <td><center>4</center></td>
                        <td><center>MTH 212</center></td>
                        <td><center>A</center></td>
                      </tr>
					  <tr onclick="MTH220()">
                        <th style="color:#cc5200">Discrete Math</th>
                        <td><center>3</center></td>
                        <td><center>MTH 220</center></td>
                        <td><center>A</center></td>
                      </tr>
					  <tr onclick="MTH225()">
                        <th style="color:#cc5200">Differential Equations</th>
                        <td><center>4</center></td>
                        <td><center>MTH 225</center></td>
                        <td><center>A</center></td>
                      </tr>
					  <tr onclick="MTH230()">
                        <th style="color:#cc5200">Linear Algebra</th>
                        <td><center>4</center></td>
                        <td><center>MTH 230</center></td>
                        <td><center>A</center></td>
                      </tr>
					  <tr onclick="CHE151()">
                        <th style="color:#cc5200">General College Chemistry I</th>
                        <td><center>4</center></td>
                        <td><center>CHE 151</center></td>
                        <td><center>A</center></td>
                      </tr>
					  <tr onclick="PHY161()">
                        <th style="color:#cc5200">University Physics I</th>
                        <td><center>4</center></td>
                        <td><center>PHY 161</center></td>
                        <td><center>A</center></td>
                      </tr>
					  <tr onclick="PHY261()">
                        <th style="color:#cc5200">University Physics II</th>
                        <td><center>4</center></td>
                        <td><center>PHY 261</center></td>
                        <td><center>A</center></td>
                      </tr>
					  <tr onclick="PHY262()">
                        <th style="color:#cc5200">Modern Physics</th>
                        <td><center>4</center></td>
                        <td><center>PHY 262</center></td>
                        <td><center>A</center></td>
                      </tr>
					  <tr onclick="CSC202()">
                        <th style="color:#cc5200">Embedded C & Assembly</th>
                        <td><center>4</center></td>
                        <td><center>CSC 202</center></td>
                        <td><center>A</center></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
			  <div class="col-lg-7">
			    <div class="block">
			      <div id="course-title" class="title"><h5 style="color:#cc5200">Life at MCC</h5></div>
				  <div id="course-description">
                    After graduating high school, I attended classes at MCC starting in the fall of 2013.
                    It wasn't long before I discovered their robotics competition and I decided to join.
                    That spring, we placed 2nd in the ASEE National Robotics competition, which was held in Indianapolis, IN.
                    The following year, I became secretary of the Engineering Leadership Council.
                    I helped start fundraisers, host trips to neighboring universities, and helped other students through the engineering program.
                    Again I decided to join the robotics competition and again we placed 2nd.
                    I graduated that spring (2015) with an associates degree in Engineering Science.
                  </div>
				  <p id="course-extra"></p>
			    </div>
                <a href="Storage\Education\MCC_Transcript.pdf" target="_blank">
                  <button type="submit" style="margin-bottom: 20px">Transcript</button>
                </a>
			  </div>
            </div>
          </div>
        </section>

        {% include footer.html %}

      </div>
    </div>
    <script src="js/mcc.js"></script>
  </body>
</html>