---
title: Microsemi
category: Experience
order: 2
icon: dashboard
---
<html>
  {% include head.html %}
  <body>
	{% include header.html %}
	<div class="d-flex align-items-stretch">
      {% include sidebar.html %}
	  
	  <div class="page-content">
        <div class="page-header">
          <div class="container-fluid">
            <a href="microsemi.html"><img src="img/Banners/Microsemi_Banner.png"></a>
          </div>
        </div>
		
        <section class="no-padding-top">
          <div class="container-fluid">
            <div class="row">
			  <div class="col-lg-5">
                <div class="block">
                  <h4 style="color:#8a8d93" class="block-header">
                    <span style="float:left"> Electrical Engineer </span>
                    <span>&nbsp;</span>
                    <span class="block-subheader" style="float:right"> 02/27/2017 - Present </span>
                  </h4>
                  <table class="table table-striped table-sm">
                    <tbody>  
                      <tr>
                        <th class="t_closed" onmouseover="Synthesizer()">
                          Frequency Synthesizer (GHz)
                          <ul class="collapse show" style="margin-bottom:0">
                            <li><a onclick="PLL()" href="#/">Cascaded PLL Design & Simulation</a></li>
                            <li><a onclick="Prototype()" href="#/">Prototype Design, Layout, & Assembly</a></li>
                            <li><a onclick="OutputPower()" href="#/">Frequency Doubler & Output Power Controller</a></li>
                            <li><a onclick="Boards()" href="#/">Associated Board Spins</a></li>
                            <li><a onclick="TempDependence()" href="#/">Reduction of Temperature Dependency</a></li>
                          </ul>
                        </th>
                      </tr>
					  <tr>
                        <th class="t_closed" onmouseover="AtomicClock()">
                          Atomic Clock GUI
                          <ul class="collapse show" style="margin-bottom:0">
                            <li><a onclick="Aging()" href="#/">Long-Term Aging Rate Determination</a></li>
                            <li><a onclick="Tempco()" href="#/">Temperature Compensation & Verification</a></li>
                            <li><a onclick="LockTime()" href="#/">Clock Locktime Analysis via Power Cycling</a></li>
                            <li><a onclick="DataAnalysis()" href="#/">Product Independent Data Analysis</a></li>
                          </ul>
                        </th>
                      </tr>
                      <tr>
                        <th class="t_closed" onmouseover="Embedded()">
                          Embedded Programming
                          <ul class="collapse show" style="margin-bottom:0">
                            <li><a href="#/">Programmable Real Time Units (PRU's)</a></li>
                            <li><a href="#/">Code Abstraction: Assembly Macros & C Library</a></li>
                            <li><a href="#/">Generic SPI Communication Protocol</a></li>
                            <li><a href="#/">Phase Noise Profile Generator</a></li>
                            <li><a href="#/">Low BW Digital PI Filter</a></li>
                          </ul>
                        </th>
                      </tr>
                      <tr>
                        <th class="t_closed" onmouseover="Presentations()">
                          Informative Presentations
                          <ul class="collapse show" style="margin-bottom:0">
                            <li><a onclick="Quantization()" href="#/">Minimizing Quantization Error</a></li>
                            <li><a onclick="Structures()" href="#/">Python Data Structures</a></li>
                            <li><a onclick="Pandas()" href="#/">Introduction to Pandas for Python</a></li>
                            <li><a onclick="AllanDeviation()" href="#/">Allan Deviation</a></li>
                          </ul>
                        </th>
                      </tr>
                      <tr onmouseover="funcDelay= setTimeout('task5()', 150)" onmouseout="clearTimeout(funcDelay)">
                        <th>Agile Database Sync Tool</th>
                      </tr>
                      <tr onmouseover="funcDelay= setTimeout('task7()', 150)" onmouseout="clearTimeout(funcDelay)">
                        <th>Alternative Phase Noise Measurement System</th>
                      </tr>
					</tbody>
                  </table>
                </div>
              </div>
			  <div class="col-lg-7">
			    <div class="block">
			      <div id="details-title" class=""><h4 style="color:#cc5200">Frequency & Timing Division</h4></div>
                  <div id="details-subtitle"><h6 style="color:#000000"></h6></div>
                  <div id="details-description">
                    <p>
                      After I finished my undergraduate degree, I left Carestream and went to work for Microsemi in Beverly, MA.
                      This branch of Microsemi is the Frequency and Timing Division (FTD). Their primary focus is on the creation
                      of the most accurate and precise atomic clocks (in the world). Such precision creates many challenges in the
                      design process and requires the utmost attention to detail. Not long after I started working for Microsemi, they
                      were acquired by Microchip (early 2018).
                    </p>
  				    <div class="slideshow-container">
                      <div id="MicrosemiSlider" class="myslides"></div>
                      <a class="prev" onclick="MicrosemiSlides(MicrosemiSlideIndex -= 1)"><p class="arrow">&#10094;</p></a>
                      <a class="next" onclick="MicrosemiSlides(MicrosemiSlideIndex += 1)"><p class="arrow">&#10095;</p></a>
                    </div>
                  </div>
			    </div>
			  </div>
            </div>
		  </div>
        </section>
		{% include footer.html %}
      </div>
    </div>
    <script src="js/microsemi.js"></script>
  </body>
</html>