---
title: Microchip
category: Experience
order: 2
icon: dashboard
---
<html>
  {% include head.html %}
  <body>
	{% include header.html %}
	<div class="d-flex align-items-stretch">
      {% include sidebar.html %}
	  
	  <div class="page-content">
        <section class="no-padding-top">
          <div class="container-fluid">
            <div class="row">
			  <div class="col-lg-5">
                <div class="block">
                  <h4 style="color:#8a8d93" class="block-header">
                    <span style="float:left"> Electrical Engineer II </span>
                    <span>&nbsp;</span>
                    <span class="block-subheader" style="float:right"> 02/27/2017 - 03/08/20 </span>
                  </h4>
                  <table class="table table-striped table-sm">
                    <tbody>
                      <tr class="t_closed">
                        <th style="color:#cc5200">
                          <div onclick="Synthesizer()">12 GHz Synthesizer ⬎</div>
                          <ul class="collapse" style="margin-bottom:0">
                            <li style="color:#8a8d93" onclick="Prototype()"><div>Full Scale Prototype</div></li>
                            <li style="color:#8a8d93" onclick="OutputPower()"><div>Frequency Doubler & Output Power Controller</div></li>
                            <li style="color:#8a8d93" onclick="TempDependence()"><div>Reduction of Temperature Dependency</div></li>
                            <li style="color:#8a8d93" onclick="Boards()"><div>Associated Board Spins</div></li>
                          </ul>
                        </th>
                      </tr>
					  <tr class="t_closed">
                        <th style="color:#cc5200" class="t_closed">
                          <div onclick="AtomicClock()">Atomic Clock GUI ⬎</div>
                          <ul class="collapse" style="margin-bottom:0">
                            <li style="color:#8a8d93" onclick="Tempco()"><div>Temperature Compensation & Verification</div></li>
                            <li style="color:#8a8d93" onclick="Aging()"><div>Predicting Long Term Aging Rates</div></li>
                            <li style="color:#8a8d93" onclick="ADev()"><div>Allan Deviation Averaging</div></li>
                            <!--
                            <li style="color:#8a8d93" onclick="LockTime()"><div>Clock Locktime Analysis via Power Cycling</div></li>
                            -->
                            <li style="color:#8a8d93" onclick="DataAnalysis()"><div>Product Independent Data Analysis</div></li>

                          </ul>
                        </th>
                      </tr>
                      <tr class="t_closed">
                        <th style="color:#cc5200" class="t_closed">
                          <div onclick="Embedded()">Embedded Programming ⬎</div>
                          <ul class="collapse" style="margin-bottom:0">
                            <li style="color:#8a8d93" onclick="SPI()"><div>Generic SPI Communication Protocol</div></li>
                            <li style="color:#8a8d93" onclick="AddPhase()"><div>Phase Noise Profile Generator</div></li>
                            <li style="color:#8a8d93" onclick="AltPhaseNoise()"><div>Phase Noise Measurement System</div></li>
                          </ul>
                        </th>
                      </tr>
                      <tr class="t_closed">
                        <th style="color:#cc5200" class="t_closed">
                          <div onclick="Quantization()">Informative Presentations ⬎</div>
                          <ul class="collapse" style="margin-bottom:0">
                            <li style="color:#8a8d93" onclick="Quantization()"><div>Minimizing Quantization Error</div></li>
                            <li style="color:#8a8d93" onclick="Structures()"><div>Python Data Structures</div></li>
                            <li style="color:#8a8d93" onclick="Jupyter()"><div>Introduction to Jupyter</div></li>
                          </ul>
                        </th>
                      </tr>
                      <tr class="t_closed">
                        <th style="color:#cc5200" class="t_closed">
                          <div onclick=AgileSync()>Noteworthy Mentions ⬎</div>
                          <ul class="collapse" style="margin-bottom:0">
                            <li style="color:#8a8d93" onclick="AgileSync()"><div>Agile PLM Database Sync Tool</div></li>
                            <li style="color:#8a8d93" onclick="Translate()"><div>Frequency Translation Device</div></li>
                          </ul>
                        </th>
                      </tr>
					</tbody>
                  </table>
                </div>
              </div>
			  <div class="col-lg-7">
			    <div class="block">
			      <div id="details-title" class=""><h4 style="color:#cc5200">Frequency & Timing</h4></div>
                  <div id="details-subtitle"><h6 style="color:#FFFFFF"></h6></div>
                  <div id="details-description">
                    <p>
                      After completing my undergraduate degree, I left Carestream to join the Frequency and Timing
                      Division at Microsemi in Beverly, MA. This division focused primarily on Position, Navigation,
                      and Timing (PNT), where precise time measurements and frequency sources provide the foundation
                      for everything they do there. Not long after I started working here, they were acquired by
                      Microchip in early 2018.<br><br>

                      During my time here, I contributed to the research and development of some of the
                      world’s most accurate and precise atomic clocks. Attempting to be more accurate than a hydrogen
                      maser even; the standard for timekeeping technology. Such precision created many challenges
                      in the design process and required the utmost attention to detail.
                    </p>
  				    <div class="slideshow-container">
                      <div id="MicrochipSlider" class="myslides"></div>
                      <a class="prev" onclick="MicrochipSlides(MicrochipSlideIndex -= 1)"><p class="arrow">&#10094;</p></a>
                      <a class="next" onclick="MicrochipSlides(MicrochipSlideIndex += 1)"><p class="arrow">&#10095;</p></a>
                    </div>
                  </div>
			    </div>
			  </div>
            </div>
		  </div>
        </section>
		{% include footer.html %}
      </div>
    </div>
    <script src="js/microchip.js"></script>
  </body>
</html>