---
title: Microsemi
category: Experience
order: 2
icon: dashboard
---
<html>
  {% include head.html %}
  <body>
	{% include header.html %}
	<div class="d-flex align-items-stretch">
      {% include sidebar.html %}
	  
	  <div class="page-content">
        <div class="page-header">
          <div class="container-fluid">
            <img src="img/Banners/Microsemi_Banner.png">
          </div>
        </div>
		
        <section class="no-padding-top">
          <div class="container-fluid">
            <div class="row">
			  <div class="col-lg-6">
                <div class="block">
                  <h4>Hardware Engineer</h4>
				  <h6> 02/27/2017 - Present </h6>
                  <table class="table table-striped table-sm">
                    <tbody>  
                      <tr>
                        <th><a href="#/" onclick="task1()">High Frequency Synthesizer</a></th>
                      </tr>
					  <tr>
                        <th><a href="#/" onclick="task2()">Step Response Analysis Script</a></th>
                      </tr>
					  <tr>
                        <th><a href="#/" onclick="task3()">Minimization of Quantization Error</a></th>
                      </tr>
					  <tr>
                        <th><a href="#/" onclick="task4()">Embedded Programming</a></th>
                      </tr>
                      <tr>
                          <th><a href="#/" onclick="task5()">Agile Database Sync Tool</a></th>
                      </tr>
                      <tr>
                        <th><a href="#/" onclick="task6()">Output Power Level Controller</a></th>
                      </tr>
                      <tr>
                        <th><a href="#/" onclick="task7()">AD9912 DDS Spur Calculator</a></th>
                      </tr>
                      <tr>
                        <th><a href="#/" onclick="task8()">Alternative Phase Noise Measurement System</a></th>
                      </tr>
                      <tr>
                        <th><a href="#/" onclick="task9()">Temperature Dependency Characterization</a></th>
                      </tr>
                      <tr>
                        <th><a href="#/" onclick="task10()">Phase Noise Injection</a></th>
                      </tr>
					</tbody>
                  </table>
                </div>
              </div>
			  <div class="col-lg-6">
			    <div class="block">
			      <div id="details-title" class="title"><strong>Frequency & Timing Division</strong></div>
                  <div id="details-description">
  				    <div class="mySlides slideshow-container">
                      <div id="MicrosemiSlider"></div>
                      <a class="prev" onclick="MicrosemiSlides(MicrosemiSlideIndex -= 1)">&#10094;</a>
                      <a class="next" onclick="MicrosemiSlides(MicrosemiSlideIndex += 1)">&#10095;</a>
                    </div>
                  </div>
			    </div>
			  </div>
            </div>
		  </div>
        </section>
		{% include footer.html %}
      </div>
    </div>
    <script src="js/microsemi.js"></script>
  </body>
</html>