---
title: Misc Hobby
category: Projects
order: 2
icon: layers
---
<html>
  {% include head.html %}
  <body>
    {% include header.html %}

	<div class="d-flex align-items-stretch">
      {% include sidebar.html %}
	  
      <div class="page-content">
        <div class="page-header">
            <h4> Other Projects </h4>
        </div>
        
		<section>
          <div class="container-fluid">
            <div class="row">
			  
			  <div class="col-lg-4">

                <div class="block">
                  <h3 class="block-header"> Wilmake </h3>
				  
				  <p> Unsatisfied with the 3D printer I had bought on Kickstarter, I decided to create an all encompassing 3D printer, scanner,
                      laser engraver, and CNC milling machine. Built during my freshman year in college, I was just short of launching my own Kickstarter campaign before
                      one of the very first all encompassing printers launced: Meet <a href="https://www.kickstarter.com/projects/2117384013/flux-all-in-one-3d-printer-unlimited-elegant-simpl/updates" >Flux</a>,
                      making just over $1.6 million!
                  </p>

                  <div class="slideshow-container">
  				    <div id="WilmakeSlider" class="mySlides"></div>
				    <a class="prev" onclick="WilmakeSlides(WilmakeSlideIndex -= 1)"><p class="arrow">&#10094;</p></a>
				    <a class="next" onclick="WilmakeSlides(WilmakeSlideIndex += 1)"><p class="arrow">&#10095;</p></a>
				  </div>
                </div>

                <div class="block">
                  <h3 class="block-header"> Misc </h3>

                  <p> Some other miscellaneous projects such as my computer build, a power supply, and my old 3D printer. </p>

				  <div class="slideshow-container">
  				    <div id="MiscSlider" class="mySlides"></div>
				    <a class="prev" onclick="MiscSlides(MiscSlideIndex -= 1)"><p class="arrow">&#10094;</p></a>
				    <a class="next" onclick="MiscSlides(MiscSlideIndex += 1)"><p class="arrow">&#10095;</p></a>
				  </div>
                </div>

              </div>

			  <div class="col-lg-4">
                <div class="block">
                  <h3 class="block-header"> VArm </h3>
				  
				  <p> A partial body immersion device for VR which allows the user to physically interact with virtual objects.
                      By manipulating the user's arm in response to virtual interactions with objects, a form of kinesthetic feedback is provided.
                      The initial design was constructed with what are known as air muscles.
                  </p>

                  <div class="slideshow-container">
  				    <div id="VArmSlider" class="mySlides"></div>
				    <a class="prev" onclick="VArmSlides(VArmSlideIndex -= 1)"><p class="arrow">&#10094;</p></a>
				    <a class="next" onclick="VArmSlides(VArmSlideIndex += 1)"><p class="arrow">&#10095;</p></a>
				  </div>

                </div>
              </div>
			  
			  <div class="col-lg-4">
                <div class="block">
                  <h3 class="block-header"> Ambilight </h3>

                  <p> Utilizing a Raspberry Pi (RPI), a dynamic lighting effect corresponding to the TV's video content was created.
                        In this build, I used Rasplex to stream video from the RPI and Hyperion to implement the lighting backrop.
                        It is capable of producing the color spectrum at different shades, brightness, and intensities based upon frame content.

                  </p>

				  <div class="slideshow-container">
  				    <div id="AmbilightSlider" class="mySlides"></div>
				    <a class="prev" onclick="AmbilightSlides(AmbilightSlideIndex -= 1)"><p class="arrow">&#10094;</p></a>
				    <a class="next" onclick="AmbilightSlides(AmbilightSlideIndex += 1)"><p class="arrow">&#10095;</p></a>
				  </div>

                </div>
              </div>

            </div>
          </div>
        </section>
		{% include footer.html %}
      </div>
    </div>
    <script src="js/misc_hobby.js"></script>
  </body>
</html>