---
title: Misc Hobby
category: Projects
order: 5
icon: light-bulb
---
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
	<div class="d-flex align-items-stretch">
      {% include sidebar.html %}
	  
      <div class="page-content">
		<section>
          <div class="container-fluid">
            <div class="row">

			  <div class="col-lg-4">
                {% assign images_dir = "img/Misc_Hobby/V-Arm" %}
                {% capture block_description %}
                  A partial body immersion device for VR that enables users to physically engage with virtual
                  objects. It provides kinesthetic feedback by adjusting the user's arm in response to
                  interactions with virtual elements. This is accomplished through the use of air muscles;
                  inflatable bladders with mesh wrapping that can contract using pressurized air.<br>
                  <button onclick="load_pdf('V-Arm', 'Storage/RIT/VArm_Report.pdf')" type="submit">Final Report</button>
                {% endcapture %}
                {% include block.html %}

                {% assign images_dir = "img/Misc_Hobby/Cat_Tree" %}
                {% capture block_description %}
                  I Made this cat tree for my brother and his cat Jimmy.
                {% endcapture %}
                {% include block.html %}
              </div>

			  <div class="col-lg-4">
                {% assign images_dir = "img/Misc_Hobby/Wilmake" %}
                {% capture block_description %}
                  Back when 3D printers were just coming out, I wanted to make one that would be more useful.
                  I attempted to create an interchangeable head so that it could also draw, laser engrave, mill,
                  and scan 3D objects. Not long after working on this project,
                  <a href="https://www.kickstarter.com/projects/2117384013/flux-all-in-one-3d-printer-unlimited-elegant-simpl/description" target="_blank">this kickstarter</a>
                  came along with a very similar concept, making just over $1.6 million!
                {% endcapture %}
                {% include block.html %}

                {% assign images_dir = "img/Misc_Hobby/Misc" %}
                {% capture block_description %}
                  Some other miscellaneous projects such as my computer, a power supply, and my old 3D printer.
                {% endcapture %}
                {% include block.html %}
              </div>
			  
			  <div class="col-lg-4">
                {% assign images_dir = "img/Misc_Hobby/Ambilight" %}
                {% capture block_description %}
                  An ambient lighting system that creates background lighting based on TV content. It is capable
                  of producing different shades, brightness, and intensities of color based upon frame content. I
                  used Rasplex to stream video from a raspberry pi and Hyperion to implement the lighting backdrop.
                {% endcapture %}
                {% include block.html %}
              </div>

            </div>
          </div>
        </section>
		{% include footer.html %}
      </div>
    </div>
    <script>document.getElementById("header-text").innerHTML = "<a style='text-decoration: none' href='misc-hobby'>Other Projects</a>";</script>
    <script src="js/block.js"></script>
  </body>
</html>