---
title: Raytheon
category: Experience
order: 3
icon: dashboard
---
<html>
  {% include head.html %}
  <body>
    {% assign header-title = "<img src='img/Banners/Raytheon_Banner.png'>" %}
    {% include header.html %}
	<div class="d-flex align-items-stretch">
      {% include sidebar.html %}
      <div class="page-content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-5">
              <div class="block">
                <h4 class="alt-header">
                  <span> Sr RF Engineer I </span>
                  <span class="block-subheader"> 03/21/20 - 03/24/23 </span>
                </h4>

                <table class="table table-striped table-sm">
                  <tbody>
                    <tr class="first-row" onclick="CSM()">
                      <th style="color:#cc5200"><div>Synthesizer Module</div></th>
                    </tr>
                    <tr onclick="LBR()">
                      <th style="color:#cc5200"><div>L-Band Receiver</div></th>
                    </tr>
                    <tr onclick="XLC()">
                      <th style="color:#cc5200"><div>X-L Band Converter</div></th>
                    </tr>
<!--					  <tr onclick="ADS()">-->
<!--                        <th style="color:#cc5200">Keysight ADS</th>-->
<!--                      </tr>-->
<!--                      <tr onclick="Filters()">-->
<!--                        <th style="color:#cc5200">Filter Design</th>-->
<!--                      </tr>-->
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-lg-7">
              <div class="block">
                <div class="block-header"><h4 id="details-title">Intelligence & Space</h4><i class="fas fa-plus-square"></i></div>
                <div><h6 id="details-subtitle" style="margin-top: 8px; color:#FFFFFF"></h6></div>
                <div id="details-description">

                  <p>
                    A few years after my time at Microchip, I was presented with an interesting opportunity.
                    The Director of Engineering, who had recently decided to leave the company, personally reached
                    out to me about joining him at Raytheon. The offer included a salary increase of over 30%,
                    and the work would be more RF-focused, which piqued my interest at the time. Having not
                    received a raise since starting at Microchip, the offer was an easy decision.<br><br>

                    This specific branch of Raytheon was in Marlborough, MA, which was about an hour away from
                    my home at the time. To make the commute easier, I decided to relocate to Framingham, MA.
                    Coincidentally, this was around the time COVID-19 had begun to emerge, and after receiving
                    my laptop on my first day, I ended up working remotely almost exclusively,
                    never needing to go into the office.<br>
                  </p>

                  <div class="slideshow-container">
                    <div id="RaytheonSlider" class="mySlides"></div>
                    <a class="prev" onclick="RaytheonSlides(RaytheonSlideIndex -= 1)"><p class="arrow">&#10094;</p></a>
                    <a class="next" onclick="RaytheonSlides(RaytheonSlideIndex += 1)"><p class="arrow">&#10095;</p></a>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        {% include footer.html %}
      </div>
    </div>
  <script src="js/raytheon.js"></script>
  </body>
</html>