---
title: RIT
category: Education
order: 2
icon: flask
---
<html>
  {% include head.html %}
  <body>
    {% include header.html %}

	<div class="d-flex align-items-stretch">
      {% include sidebar.html %}
	  
	  <div class="page-content">
        <div class="page-header" style="margin-top: 0;">
          <div class="container-fluid">
            <a href="#/"><img onclick="LifeAtRIT()" src="img/Banners/RIT_Banner.png"></a>
          </div>
        </div>

        <section class="no-padding-top">
          <div class="container-fluid">
            <div class="row">
              
			  <div class="col-lg-5">
                <div class="block">
                  <h4 class="block-header" onclick="LifeAtRIT()"> <a href="#/"> Life at RIT </a></h4>
                  <table class="table table-striped table-sm">
                    <thead>
                      <tr>
                        <th><center>Course Name</center></th>
                        <th><center>Credits</center></th>
                        <th style="white-space:nowrap"><center>Course #</center></th>
                        <th><center>Grade</center></th>
                      </tr>
                    </thead>
					<tbody>  
                      <tr onclick="EEEE220()">
						<th style="color:#cc5200">Digital Systems II</th>
                        <td><center>3</center></td>
                        <td><center>EEEE 220</center></td>
                        <td><center>A-</center></td>
                      </tr>
					  <tr onclick="EEEE260()">
                        <th style="color:#cc5200">Intro to Semiconductors Devices</th>
                        <td><center>3</center></td>
                        <td><center>EEEE 260</center></td>
                        <td><center>A</center></td>
                      </tr>
					  <tr onclick="EEEE346()">
                        <th style="color:#cc5200">Advanced Programming</th>
                        <td><center>3</center></td>
                        <td><center>EEEE 346</center></td>
                        <td><center>A-</center></td>
                      </tr>
					  <tr onclick="EEEE353()">
                        <th style="color:#cc5200">Linear Systems</th>
                        <td><center>4</center></td>
                        <td><center>EEEE 353</center></td>
                        <td><center>A</center></td>
                      </tr>
					  <tr onclick="EEEE374()">
                        <th style="color:#cc5200">EM Fields & Transmission Lines</th>
                        <td><center>4</center></td>
                        <td><center>EEEE 374</center></td>
                        <td><center>A</center></td>
                      </tr>
					  <tr onclick="EEEE381()">
                        <th style="color:#cc5200">Electronics I</th>
                        <td><center>3</center></td>
                        <td><center>EEEE 381</center></td>
                        <td><center>B+</center></td>
                      </tr>
					  <tr onclick="EEEE414()">
                        <th style="color:#cc5200">Classical Control</th>
                        <td><center>3</center></td>
                        <td><center>EEEE 414</center></td>
                        <td><center>A</center></td>
                      </tr>
					  <tr onclick="EEEE482()">
                        <th style="color:#cc5200">Electronics II</th>
                        <td><center>4</center></td>
                        <td><center>EEEE 482</center></td>
                        <td><center>A</center></td>
                      </tr>
					  <tr onclick="EEEE483()">
                        <th style="color:#cc5200">Mechatronics</th>
                        <td><center>3</center></td>
                        <td><center>EEEE 483</center></td>
                        <td><center>B+</center></td>
                      </tr>
					  <tr onclick="EEEE484()">
                        <th style="color:#cc5200">Communication Systems</th>
                        <td><center>3</center></td>
                        <td><center>EEEE 484</center></td>
                        <td><center>A</center></td>
                      </tr>
					  <tr onclick="EEEE485()">
                        <th style="color:#cc5200">Robotic Systems</th>
                        <td><center>3</center></td>
                        <td><center>EEEE 485</center></td>
                        <td><center>A-</center></td>
                      </tr>
					  <tr onclick="EEEE497()">
                        <th style="color:#cc5200">Senior Design Project I</th>
                        <td><center>3</center></td>
                        <td><center>EEEE 497</center></td>
                        <td><center>A</center></td>
                      </tr>
					  <tr onclick="EEEE498()">
                        <th style="color:#cc5200">Senior Design Project II</th>
                        <td><center>3</center></td>
                        <td><center>EEEE 498</center></td>
                        <td><center>A</center></td>
                      </tr>
					  <tr onclick="EEEE579()">
                        <th style="color:#cc5200">Analog Filter Design</th>
                        <td><center>3</center></td>
                        <td><center>EEEE 579</center></td>
                        <td><center>C</center></td>
                      </tr>
					  <tr onclick="EEEE593()">
                        <th style="color:#cc5200">Digital Data Communication</th>
                        <td><center>3</center></td>
                        <td><center>EEEE 593</center></td>
                        <td><center>A</center></td>
                      </tr>
					  <tr onclick="EEEE661()">
                        <th style="color:#cc5200">Modern Control Theory</th>
                        <td><center>3</center></td>
                        <td><center>EEEE 661</center></td>
                        <td><center>B+</center></td>
                      </tr>
					  <tr onclick="EEEE663()">
                        <th style="color:#cc5200">RTOS & Embedded Systems</th>
                        <td><center>3</center></td>
                        <td><center>EEEE 663</center></td>
                        <td><center>A</center></td>
                      </tr>
					  <tr onclick="MATH326()">
                        <th style="color:#cc5200">Boundary Value Problems</th>
                        <td><center>3</center></td>
                        <td><center>MATH 326</center></td>
                        <td><center>A</center></td>
                      </tr>
					  <tr onclick="MATH381()">
                        <th style="color:#cc5200">Complex Variables</th>
                        <td><center>3</center></td>
                        <td><center>MATH 381</center></td>
                        <td><center>A</center></td>
                      </tr>
					  <tr onclick="MATH441()">
                        <th style="color:#cc5200">Abstract Algebra</th>
                        <td><center>3</center></td>
                        <td><center>MATH 441</center></td>
                        <td><center>A-</center></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
			  <div class="col-lg-7">
			    <div class="block">
			      <div id="course-title" class="title"><h5 style="color:#cc5200">Life at RIT</h5></div>
                  <div id="course-description">
                    I transferred from MCC to RIT in the Fall of 2015. After MCC, I expected a lot out of RIT, especially given the inexplicable price difference.
                    I was poorly mistaken. In my first semester at RIT many of the students I interacted with commented on how much better MCC had prepared students.
                    RIT did not just fail on that front; Because I enjoyed the robotics competitions held at MCC, I attempted to find similar program at RIT.
                    To my amazement, none existed. I then looked for an engineering club... again nothing. I doubled up on classes and started working at Carestream
                    while attending RIT and finished the degree in half the time it would've taken normally.
                    I graduated in December (2016) with a Bachelor's degree in Electrical Engineering.<br><br>
                    This is not to say that RIT was a poor school.
                    I still believe its on par with many of the more well known schools throughout the country.
                    What I am saying, is that education in general is in some serious need of reform.
                    Anyone who believes having a degree makes you an engineer is outright wrong.
                    Experience is what truly makes someone better at something.
                    If you are looking to hire someone, please look at their project work and work experience.
                    This will at least give you a sense of the person's dedication and commitment to self-improvement.
                  </div>
                  <p id="course-extra"></p>
			    </div>
                <a href="Storage\Education\RIT_Transcript.pdf" target="_blank">
                  <button type="submit" style="margin-bottom: 20px">Transcript</button>
                </a>
			  </div>
            </div>
          </div>
        </section>

        {% include footer.html %}

      </div>
    </div>
    <script src="js/rit.js"></script>
  </body>
</html>