---
title: Robotics
category: Projects
order: 2
icon: light-bulb
---
<html>
  {% include head.html %}
  <body>
	{% include header.html %}
	<div class="d-flex align-items-stretch">
      {% include sidebar.html %}
	  
      <div class="page-content">
        <div class="container-fluid">
          <div class="row">

            <div class="col-lg-4">
              <!--Add subheaders somehow?-->
              {% assign images_dir = "img/Robotics/ASEE_Competition_2014" %}
              {% capture block_description %}
                A national robotics competition held in Indianapolis, Indiana, where the objective was to
                autonomously navigate a scaled-down version of the Indianapolis 500 track. The model included
                various obstacles to enhance the difficulty of the challenge.<br>
                <button onclick="load_pdf('ASEE_Competition_2014', 'Storage/Projects/ASEE_2014_Report.pdf')" type="submit">Final Report</button>
              {% endcapture %}
              {% include block.html %}

              {% assign images_dir = "img/Robotics/Quadcopter" %}
              {% capture block_description %}
                A quadcopter I built in college. It went through two design iterations before I decided to pass
                it along. It never fully worked, but I had fun designing and figuring out the electronics. It
                also led to the creation of the drone club at MCC.
              {% endcapture %}
              {% include block.html %}
            </div>

            <div class="col-lg-4">
              {% assign images_dir = "img/Robotics/ASEE_Competition_2015" %}
              {% capture block_description %}
                A national robotics competition held in Seattle, Washington, where the objective was
                to autonomously collect wooden fish cut-outs placed along two concentric circles on an 8x8
                foot track. After collecting the fish, the robot had to deposit them into the corresponding
                colored bins located at the track's corners.<br>
                <button onclick="load_pdf('ASEE_Competition_2015', 'Storage/Projects/ASEE_2015_Rules.pdf')" type="submit">Rules</button>
              {% endcapture %}
              {% include block.html %}

              {% assign images_dir = "img/Robotics/McLaren_F1" %}
              {% capture block_description %}
                A first-year, in-class robotics competition with multiple objectives, including track
                navigation and a tractor pull. The design (aesthetics and function) was left completely up
                to the students; I chose to loosely model mine after a McLaren F1.<br>
                <button onclick="load_pdf('McLaren_F1', 'Storage/MCC/ENR153_Report.pdf')" type="submit">Final Report</button>
              {% endcapture %}
              {% include block.html %}

            </div>

            <div class="col-lg-4">
              {% assign images_dir = "img/Robotics/ATtiny_Swarm" %}
              {% capture block_description %}
                A set of programmable, rechargeable robots whose functionality could be altered by adding
                a modular attachment called a "shield." By default, these robots would either line-follow or
                avoid obstacles. When a shield was attached, the base design's electronics were overridden.
              {% endcapture %}
              {% include block.html %}
            </div>

          </div>
        </div>
        {% include footer.html %}
      </div>
    </div>
    <script>document.getElementById("header-text").innerHTML = "<a style='text-decoration: none' href='robotics'>Robotics Projects</a>";</script>
  </body>
</html>