---
title: Robotics
category: Projects
order: 3
icon: layers
---
<html>
  {% include head.html %}

  <body>
	{% include header.html %}

	<div class="d-flex align-items-stretch">
      {% include sidebar.html %}
	  
      <div class="page-content">
        <div class="page-header">
            <h4> Robotics Projects </h4>
        </div>
        
		<section>
          <div class="container-fluid">
            <div class="row">

              <div class="col-lg-4">
                <div class="block">
                  <h3 class="block-header"> ASEE Competition 2014 </h3>
				  <h5 style="color:#cc5200;"> Indie 500 </h5>
                  <p> A national robotics competition that was held in Indianapolis, Indiana.
                      The objective was to autonomously navigate a, much smaller, model of the Indianapolis 500 track.
                      This model contained obstacles to increase the difficulty of the challenge. </p>

                  <div class="slideshow-container">
                    <div id="IndieSlider" class="mySlides"></div>
                    <a class="prev" onclick="IndieSlides(indieSlideIndex -= 1)"><p class="arrow">&#10094;</p></a>
                    <a class="next" onclick="IndieSlides(indieSlideIndex += 1)"><p class="arrow">&#10095;</p></a>
                  </div>
                </div>

                <div class="block">
                  <h3 class="block-header">Quadcopter </h3>

				  <p> My quadcopter build. Went through two design iterations before deciding to pass the project along.
                      Just needs a central processor to handle orientation and motor control. </p>

                  <div class="slideshow-container">
  				    <div id="QuadcopterSlider" class="mySlides"></div>
				    <a class="prev" onclick="QuadcopterSlides(QuadcopterSlideIndex -= 1)"><p class="arrow">&#10094;</p></a>
				    <a class="next" onclick="QuadcopterSlides(QuadcopterSlideIndex += 1)"><p class="arrow">&#10095;</p></a>
				  </div>

                </div>
              </div>

			  <div class="col-lg-4">
                <div class="block">
                  <h3 class="block-header"> ASEE Competition 2015</h3>
				  <h5 style="color:#cc5200;"> Fish Derby </h5>

                  <p> A national robotics competition that was held in Seattle, Washington. The objective was to autonomously
				    collect the wooden fish cut-outs placed along two circles on an 8x8 foot track. Once collected, the robot had
				    to deposit these wooden fish cut-outs into the corresponding colored bins located on the corners of the track.<br>
                    <a href="Storage\Projects\ASEE_2015_Rules.pdf" target="_blank">
                      <button type="submit">Rules</button>
                    </a>
				  </p>

				  <div class="slideshow-container">
  				    <div id="DerbySlider" class="mySlides"></div>
					<a class="prev" onclick="DerbySlides(derbySlideIndex -= 1)"><p class="arrow">&#10094;</p></a>
				    <a class="next" onclick="DerbySlides(derbySlideIndex += 1)"><p class="arrow">&#10095;</p></a>
				  </div>

                </div>
                <div class="block">
                  <h3 class="block-header">McLaren F1 </h3>

                  <p> A first-year, in-class robotics competition. Multiple objectives including track navigation
                      and tractor pull. Design entirely up to students; I chose to model it after a McLaren F1.
                  </p>

				  <div class="slideshow-container">
  				    <div id="ENR153Slider" class="mySlides"></div>
				    <a class="prev" onclick="ENR153Slides(ENR153SlideIndex -= 1)"><p class="arrow">&#10094;</p></a>
				    <a class="next" onclick="ENR153Slides(ENR153SlideIndex += 1)"><p class="arrow">&#10095;</p></a>
				  </div>

                </div>
              </div>

			  <div class="col-lg-4">
                <div class="block">
                  <h3 class="block-header"> ATtiny Swarm </h3>

                  <p> A programmable and rechargeable set of robots whose functionality could be changed through the addition of an attachment 'shield'.
				  With the abstraction of functionality into modular shields, design costs plummeted and new design possibilities emerged.
				  By attaching the shield to one of the two base designs (line follow or obstacle avoidance), the base designs electronics were overriden and the shield's functionality took over.
				  For example, if a Bluetooth control shield were attached to the line following base design,
				  the robot would then be controlled via BT instead of its normal behavior of following a line.
				  </p>

				  <div class="slideshow-container">
  				    <div id="ATtinySlider" class="mySlides"></div>
				    <a class="prev" onclick="ATtinySlides(ATtinySlideIndex -= 1)"><p class="arrow">&#10094;</p></a>
				    <a class="next" onclick="ATtinySlides(ATtinySlideIndex += 1)"><p class="arrow">&#10095;</p></a>
				  </div>

                </div>
              </div>
            </div>
          </div>
        </section>
        {% include footer.html %}
      </div>
    </div>
    <script src="../js/robotics.js"></script>
  </body>
</html>