---
title: Safran
category: Experience
order: 4
icon: dashboard
---
<html>
  {% include head.html %}
  <body>
	{% include header.html %}
	<div class="d-flex align-items-stretch">
      {% include sidebar.html %}

	  <div class="page-content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-5">
              <div class="block">
                <h4 class="alt-header">
                  <span> Sr. Electrical Engineer I </span>
                  <span class="block-subheader"> 05/08/23 - 10/01/24 </span>
                </h4>
                <table class="table table-striped table-sm">
                  <tbody>
                    <tr>
                      <th style="color:#cc5200">
                        <div class="expandable-row" onclick="TestSuite()">Broadsim Automated Test Suite ⬎</div>
                        <ul class="collapse" style="margin-bottom:0">
                          <li style="color:#8a8d93" onclick="ReportGeneration()"><div>Report Generation</div></li>
                          <li style="color:#8a8d93" onclick="MetricDefinition()"><div>Metric Definition</div></li>
                          <li style="color:#8a8d93" onclick="InstrumentAutomation()"><div>Automating Hardware</div></li>
                        </ul>
                      </th>
                    </tr>

                    <tr>
                      <th style="color:#cc5200">
                        <div class="expandable-row" onclick="Wavefront_Enhancement()">Broadsim Wavefront Enhancements ⬎</div>
                        <ul class="collapse" style="margin-bottom: 0px;">
                          <li style="color:#8a8d93" onclick="Shared_LO()"><div>Shared LO Architecture</div></li>
                          <li style="color:#8a8d93" onclick="Environmental_Compensation()"><div>Environmental Compensation</div></li>
                          <li style="color:#8a8d93" onclick="Calibration_Procedures()"><div>Calibration Enhancements</div></li>
                        </ul>
                      </th>
                    </tr>
<!--                      <tr>-->
<!--                        <th style="color:#cc5200">-->
<!--                          <div class="expandable-row" onclick="Research()">Research and Development ⬎</div>-->
<!--                          <ul class="collapse" style="margin-bottom:0">-->
<!--                            <li style="color:#8a8d93" onclick="ZIF()"><div>Zero IF</div></li>-->
<!--                            <li style="color:#8a8d93" onclick="Pentek()"><div>Small Form-Factor SDRs</div></li>-->
<!--                          </ul>-->
<!--                        </th>-->
<!--                      </tr>-->
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-lg-7">
              <div class="block">
                <div class="block-header"><h4 id="details-title">Federal Systems</h4><i class="fas fa-plus-square"></i></div>
                <div><h6 id="details-subtitle" style="margin-top: 8px; color:#FFFFFF"></h6></div>
                <div id="details-description">

                  <p>
                    Because I was working remotely for most of my time at Raytheon, I decided to move back to
                    Rochester, NY and buy a house. About a year after moving back, my boss unexpectedly insisted
                    that I return to the office. Faced with the choice of resigning or relocating again, I
                    chose to resign and began searching for a position closer to home in NY.<br><br>

                    My path to this job wasn’t exactly straightforward. I began applying to various positions
                    to explore what I truly wanted to do with my career. After applying for what I thought was a
                    controls engineering position, a recruiter reached out and suggested I send my résumé to a
                    company called Orolia Defense. There wasn’t a specific job posting, but they were impressed
                    with my background and scheduled an interview for the following week.<br><br>

                    At the time, I had multiple offers on the table, but Orolia stood out because of the exciting
                    work they were doing. The role was heavily focused on research and development, and I was
                    particularly drawn to the opportunity to work on RF automation. Shortly after I joined, Orolia
                    was acquired by Safran and became Safran Federal Systems (SFS).<br>
                  </p>
                  <div class="slideshow-container">
                    <div id="SafranSlider" class="myslides"></div>
                    <a class="prev" onclick="SafranSlides(SafranSlideIndex -= 1)"><p class="arrow">&#10094;</p></a>
                    <a class="next" onclick="SafranSlides(SafranSlideIndex += 1)"><p class="arrow">&#10095;</p></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
		{% include footer.html %}
      </div>
    </div>
    <script src="js/safran.js"></script>
  </body>
</html>