---
title: Wood Working
category: Projects
order: 4
icon: layers
---
<html>
  {% include head.html %}
  <body>
    {% include header.html %}

	<div class="d-flex align-items-stretch">
      {% include sidebar.html %}
	  
      <div class="page-content">
        <div class="page-header">
            <h4> Wood Working Projects </h4>
        </div>
        
		<section>
          <div class="container-fluid">
            <div class="row">
			
              <div class="col-lg-4">
                <div class="project block">
                  <div class="expander"><a href="#/"><i class="fas fa-plus-square"></i></a></div>
                  <h3 class="block-header"> Cutting Board </h3>

                  <p> Inspired by other cutting boards, such as <a href="https://www.instructables.com/id/A-unique-style-of-cutting-board/">this one</a>,
                      I decided to make my own. I gave it to my parents for their 25th anniversary.
                  </p>

				  <div class="slideshow-container">
  				    <div id="CuttingBoardSlider" class="mySlides"></div>
					<a class="prev" onclick="CuttingBoardSlides(CuttingBoardSlideIndex -= 1)"><p class="arrow">&#10094;</p></a>
				    <a class="next" onclick="CuttingBoardSlides(CuttingBoardSlideIndex += 1)"><p class="arrow">&#10095;</p></a>
				  </div>
                </div>

                <div class="project block">
                  <div class="expander"><a href="#/"><i class="fas fa-plus-square"></i></a></div>
                  <h3 class="block-header"> Chest </h3>

                  <p> Ok, I'll admit, I didn't make this one. My father built several of these and gave one
                      to each of my brothers and I, keeping one for himself. He made them out of different
                      types of wood and I'll have to get pictures of the other ones sometime.
                  </p>

				  <div class="slideshow-container">
  				    <div id="ChestSlider" class="mySlides"></div>
					<a class="prev" onclick="ChestSlides(ChestSlideIndex -= 1)"><p class="arrow">&#10094;</p></a>
				    <a class="next" onclick="ChestSlides(ChestSlideIndex += 1)"><p class="arrow">&#10095;</p></a>
				  </div>
                </div>

              </div>
			  
			  <div class="col-lg-4">
                <div class="project block">
                  <div class="expander"><a href="#/"><i class="fas fa-plus-square"></i></a></div>
                  <h3 class="block-header">Coffee Mug</h3>

                  <p>A pretty sweet looking coffee mug! I wish I had a lathe when I made this project. Gifted to my older brother.</p>

				  <div class="slideshow-container">
  				    <div id="CoffeeMugSlider" class="mySlides"></div>
					<a class="prev" onclick="CoffeeMugSlides(CoffeeMugSlideIndex -= 1)"><p class="arrow">&#10094;</p></a>
				    <a class="next" onclick="CoffeeMugSlides(CoffeeMugSlideIndex += 1)"><p class="arrow">&#10095;</p></a>
				  </div>
                </div>
              </div>

			  <div class="col-lg-4">
                <div class="project block">
                  <div class="expander"><a href="#/"><i class="fas fa-plus-square"></i></a></div>
                  <h3 class="block-header"> 3D Tic-Tac-Toe </h3>
				  
				  <p> A 3 player tic-tac-toe game in 3 dimensions! </p>

                  <div class="slideshow-container">
  				    <div id="TTTSlider" class="mySlides"></div>
					<a class="prev" onclick="TTTSlides(TTTSlideIndex -= 1)"><p class="arrow">&#10094;</p></a>
				    <a class="next" onclick="TTTSlides(TTTSlideIndex += 1)"><p class="arrow">&#10095;</p></a>
				  </div>
                </div>
              </div>

            </div>
          </div>
        </section>
		
		{% include footer.html %}

      </div>
    </div>
    <script src="js/wood_working.js"></script>
  </body>
</html>