---
title: Wood Working
category: Projects
order: 4
icon: light-bulb
---
<html>
  {% include head.html %}
  <body>
    {% include header.html %}

	<div class="d-flex align-items-stretch">
      {% include sidebar.html %}
	  
      <div class="page-content">

		<section>
          <div class="container-fluid">
            <div class="row">
			
              <div class="col-lg-4">

                <div class="project block">
                  <div class="expander"><a href="javascript:;"><i class="fas fa-plus-square"></i></a></div>
                  <h3 class="block-header"> Night Stands </h3>

                  <p> After building a bed frame, I decided to make night stands to match the frame. This was my
                      first time making something with dovetails and I think they came out alright. I also made a
                      leg tapering jig which I am sure I will find use for in later projects.
                  </p>

                  <div class="slideshow-container">
                    <div id="NightStandSlider" class="mySlides"></div>
                    <a class="prev" onclick="NightStandSlides(NightStandSlideIndex -= 1)"><p class="arrow">&#10094;</p></a>
                    <a class="next" onclick="NightStandSlides(NightStandSlideIndex += 1)"><p class="arrow">&#10095;</p></a>
                  </div>
                </div>

                <div class="project block">
                  <div class="expander"><a href="javascript:;"><i class="fas fa-plus-square"></i></a></div>
                  <h3 class="block-header"> End Tables </h3>

				  <p> I want to say these are similar to my night stands, but the construction of these two
                      projects are vastly different. I made these to complement the mission-style design of the
                      sofa table my father made for me. They accompany the couch and provide some place for food or
                      drink while watching TV.
                  </p>

                  <div class="slideshow-container">
  				    <div id="EndTableSlider" class="mySlides"></div>
				    <a class="prev" onclick="EndTableSlides(EndTableSlideIndex -= 1)"><p class="arrow">&#10094;</p></a>
				    <a class="next" onclick="EndTableSlides(EndTableSlideIndex += 1)"><p class="arrow">&#10095;</p></a>
                  </div>
                </div>

                <div class="project block">
                  <div class="expander"><a href="javascript:;"><i class="fas fa-plus-square"></i></a></div>
                  <h3 class="block-header"> Bar Stool </h3>

                  <p> These bar stools were designed for the new bar top in my kitchen renovation. The inward leg
                      support was a mistake as it's practically unusable as a foot rest. However, after adding a
                      cushion to the top of these, they suffice.
                  </p>

				  <div class="slideshow-container">
  				    <div id="BarStoolSlider" class="mySlides"></div>
					<a class="prev" onclick="BarStoolSlides(BarStoolSlideIndex -= 1)"><p class="arrow">&#10094;</p></a>
				    <a class="next" onclick="BarStoolSlides(BarStoolSlideIndex += 1)"><p class="arrow">&#10095;</p></a>
				  </div>
                </div>

                <div class="project block">
                  <div class="expander"><a href="javascript:;"><i class="fas fa-plus-square"></i></a></div>
                  <h3 class="block-header"> Chest </h3>

                  <p> Alright, I’ll admit it — this wasn't made by me. My father built 4 of these total, giving
                      one to each of my brothers and I, as well as keeping one for himself.
                  </p>

				  <div class="slideshow-container">
  				    <div id="ChestSlider" class="mySlides"></div>
					<a class="prev" onclick="ChestSlides(ChestSlideIndex -= 1)"><p class="arrow">&#10094;</p></a>
				    <a class="next" onclick="ChestSlides(ChestSlideIndex += 1)"><p class="arrow">&#10095;</p></a>
				  </div>
                </div>

              </div>
			  
			  <div class="col-lg-4">

                <div class="project block">
                  <div class="expander"><a href="javascript:;"><i class="fas fa-plus-square"></i></a></div>
                  <h3 class="block-header"> Bed Frame </h3>

                  <p> My first larger woodworking project was this bed frame. While sleigh-style and mission-style
                      frames are quite nice, I wanted something more minimalistic in design and simpler to build.
                  </p>

				  <div class="slideshow-container">
  				    <div id="BedFrameSlider" class="mySlides"></div>
					<a class="prev" onclick="BedFrameSlides(BedFrameSlideIndex -= 1)"><p class="arrow">&#10094;</p></a>
				    <a class="next" onclick="BedFrameSlides(BedFrameSlideIndex += 1)"><p class="arrow">&#10095;</p></a>
				  </div>
                </div>

                <div class="project block">
                  <div class="expander"><a href="javascript:;"><i class="fas fa-plus-square"></i></a></div>
                  <h3 class="block-header"> Cutting Boards </h3>

                  <p> I've made a few cutting boards, the first of which I made back in high school for my
                      parents 25th anniversary. The latter cutting boards were made from the leftover pieces of
                      my butcher block kitchen counter. I made three in total - one for each of my brothers and
                      one for myself.
                  </p>

				  <div class="slideshow-container">
  				    <div id="CuttingBoardSlider" class="mySlides"></div>
					<a class="prev" onclick="CuttingBoardSlides(CuttingBoardSlideIndex -= 1)"><p class="arrow">&#10094;</p></a>
				    <a class="next" onclick="CuttingBoardSlides(CuttingBoardSlideIndex += 1)"><p class="arrow">&#10095;</p></a>
				  </div>
                </div>

                <div class="project block">
                  <div class="expander"><a href="javascript:;"><i class="fas fa-plus-square"></i></a></div>
                  <h3 class="block-header">Travel Mug</h3>

                  <p> This was the second thing I ever made with wood. Interestingly, I did this without a lathe. </p>

				  <div class="slideshow-container">
  				    <div id="TravelMugSlider" class="mySlides"></div>
					<a class="prev" onclick="TravelMugSlides(TravelMugSlideIndex -= 1)"><p class="arrow">&#10094;</p></a>
				    <a class="next" onclick="TravelMugSlides(TravelMugSlideIndex += 1)"><p class="arrow">&#10095;</p></a>
				  </div>
                </div>
              </div>

			  <div class="col-lg-4">

                <div class="project block">
                  <div class="expander"><a href="javascript:;"><i class="fas fa-plus-square"></i></a></div>
                  <h3 class="block-header"> Lamps </h3>

				  <p> I made some lamps to go with the nightstands and bed frame I made. This design was inspired
                      by a similar concept I found online as I thought it was neat. It has articulating joints and
                      can be manipulated into various positions.
                  </p>

                  <div class="slideshow-container">
  				    <div id="LampsSlider" class="mySlides"></div>
				    <a class="prev" onclick="LampsSlides(LampsSlideIndex -= 1)"><p class="arrow">&#10094;</p></a>
				    <a class="next" onclick="LampsSlides(LampsSlideIndex += 1)"><p class="arrow">&#10095;</p></a>
          	      </div>
                </div>

                <div class="project block">
                  <div class="expander"><a href="javascript:;"><i class="fas fa-plus-square"></i></a></div>
                  <h3 class="block-header"> Book Case </h3>

                  <p> Some place to store all the books I accumulated growing up and any books I get in the future.
                      The walnut / cherry blend turned out better than anticipated!
                  </p>

				  <div class="slideshow-container">
  				    <div id="BookCaseSlider" class="mySlides"></div>
					<a class="prev" onclick="BookCaseSlides(BookCaseSlideIndex -= 1)"><p class="arrow">&#10094;</p></a>
				    <a class="next" onclick="BookCaseSlides(BookCaseSlideIndex += 1)"><p class="arrow">&#10095;</p></a>
				  </div>
                </div>

                <div class="project block">
                  <div class="expander"><a href="javascript:;"><i class="fas fa-plus-square"></i></a></div>
                  <h3 class="block-header"> Tissue Box </h3>

				  <p> It took a couple of iterations to get the tissue lid design correct without the tissue ripping,
                      but it works like a charm now. The lid was also designed with embedded magnets to keep it in
                      place and allow for quick tissue box replacement.
                  </p>

                  <div class="slideshow-container">
  				    <div id="TissueBoxSlider" class="mySlides"></div>
				    <a class="prev" onclick="TissueBoxSlides(TissueBoxSlideIndex -= 1)"><p class="arrow">&#10094;</p></a>
				    <a class="next" onclick="TissueBoxSlides(TissueBoxSlideIndex += 1)"><p class="arrow">&#10095;</p></a>
          	      </div>
                </div>

                <div class="project block">
                  <div class="expander"><a href="javascript:;"><i class="fas fa-plus-square"></i></a></div>
                  <h3 class="block-header"> 3D Tic-Tac-Toe </h3>
				  
				  <p> An interesting variation of the classical tic-tac-toe game, this one is played with 3
                      players in 3 dimensions!
                  </p>

                  <div class="slideshow-container">
  				    <div id="TTTSlider" class="mySlides"></div>
					<a class="prev" onclick="TTTSlides(TTTSlideIndex -= 1)"><p class="arrow">&#10094;</p></a>
				    <a class="next" onclick="TTTSlides(TTTSlideIndex += 1)"><p class="arrow">&#10095;</p></a>
				  </div>
                </div>

              </div>
            </div>
          </div>
        </section>
		
		{% include footer.html %}

      </div>
    </div>
    <script src="js/wood_working.js"></script>
  </body>
</html>