---
title: Woodworking
category: Projects
order: 4
icon: light-bulb
---
<html>
  {% include head.html %}
  <body>
    {% assign header-title = "Woodworking Projects" %}
    {% include header.html %}
	<div class="d-flex align-items-stretch">
      {% include sidebar.html %}
      <div class="page-content">
        <div class="container-fluid">
          <div class="row">

            <div class="col-lg-4">
              {% assign images_dir = "img/Woodworking/Night_Stands" %}
              {% capture block_description %}
                After building a bed frame, I decided to make night stands to match the frame. This was my
                first time making something with dovetails and I think they came out alright. I also made a
                leg tapering jig which I am sure I will find use for in later projects.
              {% endcapture %}
              {% include block.html %}

              {% assign images_dir = "img/Woodworking/End_Tables" %}
              {% capture block_description %}
                I want to say these are similar to my night stands, but the construction of these two
                projects are vastly different. I made these to complement the mission-style design of the
                sofa table my father made for me. They accompany the couch and provide some place for food or
                drink while watching TV.
              {% endcapture %}
              {% include block.html %}

              {% assign images_dir = "img/Woodworking/Bar_Stools" %}
              {% capture block_description %}
                These bar stools were designed for the new bar top in my kitchen renovation. The inward leg
                support was a mistake as it's practically unusable as a foot rest. However, after adding a
                cushion to the top of these, they suffice.
              {% endcapture %}
              {% include block.html %}

              {% assign images_dir = "img/Woodworking/Chest" %}
              {% capture block_description %}
                Alright, I’ll admit it — this wasn't made by me. My father built 4 of these total, giving
                one to each of my brothers and I, as well as keeping one for himself.
              {% endcapture %}
              {% include block.html %}
            </div>

            <div class="col-lg-4">
              {% assign images_dir = "img/Woodworking/Bed_Frame" %}
              {% capture block_description %}
                My first larger woodworking project was this bed frame. While sleigh-style and mission-style
                frames are quite nice, I wanted something more minimalistic in design and simpler to build.
              {% endcapture %}
              {% include block.html %}

              {% assign images_dir = "img/Woodworking/Cutting_Boards" %}
              {% capture block_description %}
                My first larger woodworking project was this bed frame. While sleigh-style and mission-style
                frames are quite nice, I wanted something more minimalistic in design and simpler to build.
              {% endcapture %}
              {% include block.html %}

              {% assign images_dir = "img/Woodworking/Travel_Mug" %}
              {% capture block_description %}
                My first larger woodworking project was this bed frame. While sleigh-style and mission-style
                frames are quite nice, I wanted something more minimalistic in design and simpler to build.
              {% endcapture %}
              {% include block.html %}
            </div>

            <div class="col-lg-4">
              {% assign images_dir = "img/Woodworking/Lamps" %}
              {% capture block_description %}
                My first larger woodworking project was this bed frame. While sleigh-style and mission-style
                frames are quite nice, I wanted something more minimalistic in design and simpler to build.
              {% endcapture %}
              {% include block.html %}

              {% assign images_dir = "img/Woodworking/Book_Case" %}
              {% capture block_description %}
                Some place to store all the books I accumulated growing up and any books I get in the future.
                The walnut / cherry blend turned out better than anticipated!
              {% endcapture %}
              {% include block.html %}

              {% assign images_dir = "img/Woodworking/Tissue_Box" %}
              {% capture block_description %}
                It took a couple of iterations to get the tissue lid design correct without the tissue ripping,
                but it works like a charm now. The lid was also designed with embedded magnets to keep it in
                place and allow for quick tissue box replacement.
              {% endcapture %}
              {% include block.html %}

              {% assign images_dir = "img/Woodworking/3D_Tic_Tac_Toe" %}
              {% capture block_description %}
                An interesting variation of the classical tic-tac-toe game, this one is played with 3
                players in 3 dimensions!
              {% endcapture %}
              {% include block.html %}
            </div>

          </div>
        </div>
		{% include footer.html %}
      </div>
    </div>
  </body>
</html>