---
title: index
header: Welcome !
---
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
	<div class="d-flex align-items-stretch">
      {% include sidebar.html %}
      <div class="page-content">
        <div class="container-fluid">
          <div id="row_content" class="row">

            <div id="First_Col" class="col-lg-6">

              <div class="block">
                <div class="block-header"><h4 id="About_Me_Title">Who Am I ?</h4></div>
                <div><h6 id="About_Me_Subtitle" style="margin-top: 8px; color:#FFFFFF"></h6></div>
                <div id="About_Me_Content">
                  <div id="About_Me_Description">
                      Hey there - I'm Josh Wilkins. Welcome to my personal website! Here you'll find anything and everything
                      you'd ever want to know about me. Feel free to <a href="contact.html">reach out to me</a> about anything!<br><br>
                  </div>
                </div>

                <div id="About_Me_Slider" class="slideshow-container"></div>
                <script>add_slider("About_Me", "Main")</script>
              </div>

              <div class="block col-lg-12">
                <div class="block-header"><h4>Proficiencies</h4></div>
                <div class="row">
                  <div class="col-lg-6" style="text-align: left">
                    <div><h6 style="margin-top: 8px; color:#FFFFFF">Electrical</h6></div>
                    <ul style="padding-left: 30px;">
                      <li>Altium Designer
                      <li>Keysight Software
                        <ul>
                          <li>ADS<li>Momentum EM<li>SystemVue
                        </ul>
                      <li>Mentor Graphics
                        <ul>
                          <li>xDX Designer<li>PADS Layout
                        </ul>
                      <li>LTspice
                    </ul>
                    <div><h6 style="margin-top: 8px; color:#FFFFFF">Software</h6></div>
                    <ul style="padding-left: 30px;margin:0">
                      <li>Python<li>Matlab<li>C, C++<li>Julia, R<li>React
                      <li>Typescript<li>HTML<li>CSS<li>SQL<li>PGAdmin
                    </ul>
                  </div>

                  <div class="col-lg-6" style="text-align: left">
                    <div><h6 style="margin-top: 8px; color:#FFFFFF">Hardware Testing</h6></div>
                    <ul style="padding-left: 30px;">
                      <li>Signal Analyzer<li>Network Analyzer<li>Spectrum Analyzer<li>Signal generators
                      <li>Oscilloscopes<li>Digital Multimeters<li>RF Power Meters<li>Soldering
                    </ul>

                  <div><h6 style="margin-top: 8px; color:#FFFFFF">Other</h6></div>
                  <ul style="padding-left: 30px;margin:0">
                    <li>Microsoft Visio<li>CA Agile Central<li>Jira<li>Confluence<li>Solidworks<li>Silicon Expert
                  </ul>
                  </div>
                </div>

              </div>
            </div>

            <div id="Second_Col" class="col-lg-6">

              <div class="block" style="text-align: left">
                <div class="block-header"><h4 id="Summary_Title">Quick Summary</h4></div>
                <div><h6 id="Summary_Subtitle" style="margin-top: 8px; color:#FFFFFF"></h6></div>
                <div id="Summary_Content">
                  <div id="Summary_Description">
                    <ul style="padding-left: 30px;margin:0">
                      <li>Born and raised in Avon, NY
                      <li>Bachelor's Degree in Electrical Engineering from RIT
                      <li>Sr. Hardware Automation Test Engineer
                    </ul>
                  </div>
                </div>
              </div>

              <div class="block col-lg-12">
                <div class="block-header"><h4>Hobbies</h4></div>
                <div class="row">
                  <div class="col-lg-6" style="text-align: left">
                    <div><h6 style="margin-top: 8px; color:#FFFFFF">Sports</h6></div>
                    <ul style="padding-left: 30px;">
                      <li>Soccer<li>Pickleball<li>Biking<li>Racquetball<li>Skiing<li>Ping Pong
                    </ul>
                    <div><h6 style="margin-top: 8px; color:#FFFFFF">Building</h6></div>
                    <ul style="padding-left: 30px;margin:0">
                      <li>Woodworking<li>Solid Modeling<li>Home Improvement<li>3D Printing
                    </ul>
                  </div>

                  <div class="col-lg-6" style="text-align: left">
                    <div><h6 style="margin-top: 8px; color:#FFFFFF">Traveling</h6></div>
                    <ul style="padding-left: 30px;">
                      <li>Hiking<li>Sightseeing<li>Exploring<li>Kayaking
                    </ul>

                  <div><h6 style="margin-top: 8px; color:#FFFFFF">Electronics</h6></div>
                  <ul style="padding-left: 30px;">
                    <li>Arduino<li>Raspberry Pi
                  </ul>
                  <div><h6 style="margin-top: 8px; color:#FFFFFF">Gaming</h6></div>
                  <ul style="padding-left: 30px;margin:0">
                    <li>Video Games<li>Card Games<li>Board Games
                  </ul>

                  </div>
                </div>

              </div>
            
              <div class="block">
                <div class="block-header"><h4 id="Resume_Title">R&eacutesum&eacute</h4></div>
                <div><h6 id="Resume_Subtitle" style="margin-top: 8px; color:#FFFFFF"></h6></div>
                <div id="Resume_Content">
                  <iframe src="https://joshwilkins2013.s3.us-east-2.amazonaws.com/storage/About_Me/Resume.pdf#toolbar=0&view=FitV&#zoom=FitH" style="width:100%;height:auto;border: none;aspect-ratio:8.5/11;"></iframe>
                </div>
              </div>

            </div>
          </div>

        </div>
		{% include footer.html %}
      </div>
    </div>
  </body>
</html>