---
title: Josh Wilkins
---
<html>
  {% include head.html %}
  <body>
    
    {% include header.html %}

	<div class="d-flex align-items-stretch">
      {% include sidebar.html %}
	  
      <div class="page-content">
        <div class="block" style="margin-top: 0;">
          <div class="container-fluid">
            <img src="img/ME.png" width="50%">
          </div>
          <div class="row">
            <div class="col-sm-12">
              <a href="Storage\Home\Resume.pdf" target="_blank">
                <button type="submit" style="margin-top: 30px">Resum&eacute</button>
              </a>
            </div>
          </div>
        </div>
        
		<section>
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12">
                <div class="block">
                  <h3> About Me </h3>
				  <p> I grew up in the small town of Avon, NY. In the spring of 2013, I graduated from high school, 4th in my class.
                    I continued my education at MCC (Monroe Community College), where I obtained my associates degree in Engineering Science.
                    The following semester, I transferred into RIT (Rochester Institute of Technology), where I received my Bachelor's Degree in Electrical Engineering.
                    I finished the 5 year program in 3.5 years, graduating in the top 1% of the students graduating that year.
                    While attending school, I worked at Carestream Health; first as an electrical test technician and then as the software automation testing lead.
                    After RIT, I landed a job as a hardware engineer at Microsemi in Beverly, MA, where I am currently working.
                    <br><br>
                    I am a passionate Electrical Engineer (as illustrated through my extensive project work) with a focus on analog design.
                    I have a strong interest in control systems and feedback designs and I have a growing interest in machine learning.
                    Hopefully, through this website and it's content, you will have a better understanding of my commitment to learning.
                    I encourage you to reach out to me, even if its just to say hi!
                    Feel free to suggest project ideas, submit job offers, or show me some interesting new technology.
                    I'm also interested in collaborating on new projects with people!
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
		
		{% include footer.html %}
		
      </div>
    </div>

  </body>
</html>