---
title: Travel
---
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
	<div class="d-flex align-items-stretch">
      {% include sidebar.html %}
      <div class="page-content">
        <section id="travel_blocks">
          <div class="container-fluid">
            <!-- Get all folder names in img/travel folder -->
            {% capture folder_names %}
              {% for file in site.static_files %}
                {% if file.path contains 'img/Travel' %}
                  {{file.path | split: "/" | slice: -2 }}
                {%endif%}
              {%endfor%}
            {%endcapture%}

            <!-- Determine number of unique places and how many places per column -->
            {% assign places_array = folder_names | split: " " %}
            {% assign places_unique = places_array | uniq %}
            {% assign num_places = places_unique | size %}
            {% assign num_per_col = num_places | divided_by: 3 %}
            {% assign remainder = num_places | modulo: 3 %}

            <!-- Division rounds down, need to add remainders to first/second columns -->
            {% assign num_in_first = num_per_col%}
            {% assign num_in_second = num_per_col%}
            {% assign num_in_third = num_per_col%}  <!-- This is always num_places / 3 -->
            {% if remainder == 1 %}
              {% assign num_in_first = num_per_col | plus: 1%}
            {% elsif remainder == 2 %}
              {% assign num_in_first = num_per_col | plus: 1 %}
              {% assign num_in_second = num_per_col | plus: 1 %}
            {% endif %}

            <div class="row">
              <div class="col-lg-4">
                {% assign first_places = places_unique | slice: 0, num_in_first %}
                {% for place in first_places %}
                  {% include travel_block.html %}
                {% endfor %}
              </div>  <!-- end col -->

              <div class="col-lg-4">
                <h4 style="color:white">{{ end_of_second }}</h4>
                {% assign second_places = places_unique | slice: num_in_first, num_in_second %}
                {% for place in second_places %}
                  {% include travel_block.html %}
                {% endfor %}
              </div>  <!-- end col -->

              <div class="col-lg-4">
                {% assign end_of_second = num_in_first | plus: num_in_second %}
                {% assign third_places = places_unique | slice: end_of_second, num_in_third %}
                {% for place in third_places %}
                  {% include travel_block.html %}
                {% endfor %}
              </div>  <!-- end col -->

            </div>  <!-- end row -->
          </div>
        </section>
		{% include footer.html %}
      </div>
    </div>
  <script src="../js/travel.js"></script>
  </body>
</html>