<link rel="stylesheet" href="css/block.css" id="theme-stylesheet">

<div class="block">
  {% assign block_title = images_dir | split: "/" | last %}

  {% if images_dir contains "img/About_Me" %}
    <h4 class="block-header" id="Block_Title"> {{ block_title | replace: "_", " "}}</h4>
  {% else %}
    <h4 class="block-header" id="Block_Title"> {{ block_title | replace: "_", " "}}<i class="fas fa-plus-square"></i></h4>
  {% endif %}

  <div id="{{block_title | append: '_Content'}}">
    <p id="{{block_title | append: '_Description'}}" style="margin: 4 0 10 0;">{{block_description}}</p>

    {% capture image_paths %}
      {% for file in site.static_files %}
        {% if file.path contains images_dir %}
          {{file.path | strip_newlines | append: ","}}
        {%endif%}
      {%endfor%}
    {%endcapture%}

    {% assign image_paths = image_paths | strip_newlines | strip | url_decode %}
    {% assign first_path = image_paths | split: "," | first %}

    {% if images_dir contains "img/Travel" %}
      {% assign first_caption = "" %}   <!-- Don't want to caption travel images -->
    {% elsif images_dir contains "img/About_Me" %}
      {% assign first_caption = "" %}   <!-- Don't want to caption pictures of me -->
    {% else %}
      {% assign first_caption = first_path | split: "/" | last | split: "." | first | replace: "_", " " %}
    {% endif %}

    <div id="Block_Slider_Container" class="slideshow-container">
      <div id="Block_Slider" class="mySlides">
        <img id="{{block_title | append: '_Image'}}" src="{{ first_path }}" alt="image" /><p id="{{block_title | append: '_Caption'}}">{{first_caption}}</p>
      </div>

      <a class="prev" onclick="Slides(SlideIndex -= 1, '{{image_paths}}', '{{block_title}}')" style="margin-bottom: 0;"><p class="arrow">&#10094;</p></a>
      <a class="next" onclick="Slides(SlideIndex += 1, '{{image_paths}}', '{{block_title}}')" style="margin-bottom: 0;"><p class="arrow">&#10095;</p></a>
    </div>
  </div>
</div>