<link rel="stylesheet" href="css/sidebar.css" id="theme-stylesheet">
<nav id="sidebar">
  <ul class="list-unstyled">
    <li class="{% if page.url == '/' %} highlight {% endif %}"><a href="index"><i class="icon-home"></i><p class="highlight">Home</p></a>

    <!-- Figuring out which category is active -->
    {% assign categories = site.pages | group_by: 'category' | sort: 'name' | reverse %}
    {% for cat in categories %}
      {% assign items = cat.items | sort: 'order' %}
      {% for item in items %}
        {% if item.url == page.url %}
          {% assign active_cat = cat.name %}
        {% endif %}
      {% endfor %}
    {% endfor %}

    <!-- Actually creating the side panel now -->
    {% for cat in categories %}

      <!-- Figuring out categories icon -->
      {% if cat.name == 'Projects' %}
        {% assign icon = 'layers' %}
      {% elsif cat.name == 'Education' %}
        {% assign icon = 'flask' %}
      {% else %}
        {% assign icon = 'dashboard' %}
      {% endif %}

      {% if cat.name == active_cat %}
    <li class="open highlight special"><a href="#{{ cat.name }}"><i class="icon-{{ icon }}"></i><p class="highlight">{{ cat.name }}</p></a>
      {% else %}
    <li class="closed"><a href="#{{ cat.name }}"><i class="icon-{{ icon }}"></i><p>{{ cat.name }}</p></a>
      {% endif %}
          <ul id="{{ cat.name }}" class="collapse list-unstyled {% if cat.name == active_cat %} show {% endif %}">
            {% assign items = cat.items | sort: 'order' %}
              {% for item in items %}
                {% if item.url == page.url %}
                  <li class="active"><a href="{{ item.title | slugify }}">{{ item.title }}</a></li>
                {% else %}
                  <li><a href="{{ item.title | slugify }}">{{ item.title }}</a></li>
                {% endif %}
              {% endfor %}
          </ul>
        </li>
    {% endfor %}
    <li class="{% if page.url == '/contact.html' %} highlight {% endif %}"> <a href="contact"> <i class="icon-mail"></i><p class="highlight">Contact</p></a>
  </ul>

  <div id="social-icons" class="row">
    <div id="icon-container">
      <a href="https://github.com/JoshWilkins2013" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://www.linkedin.com/in/joshwilkins2013/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
      <a href="https://www.kaggle.com/joshwilkins2013" target="_blank"><i class="fab fa-kaggle"></i></a>
    </div>
  </div>
</nav>