<link rel="stylesheet" href="css/travel_block.css" id="theme-stylesheet">
<div class="project block">
  <div class="expander"><i class="fas fa-plus-square"></i></div>
  {% assign year = place | split: "_" | last %}
  {% assign place_header = place | replace: "_", " " %}

  <div style="color: #cc5200; display: flex; align-items:center; justify-content:center; position:relative; border-bottom: solid black 4px;">
    <h4> {{place_header | remove: year}} </h4>
    <h4 style="position:absolute; right:0; bottom: 4px; margin-bottom: 0px" class="block-subheader">{{year}}</h4>
  </div>

  {% capture image_paths %}
    {% for file in site.static_files %}
      {% assign ref_path = 'img/Travel/' | append: place %}
      {% if file.path contains ref_path %}
        {{file.path | strip_newlines | append: ","}}
      {%endif%}
    {%endfor%}
  {%endcapture%}

  {% assign image_paths = image_paths | strip_newlines | strip | url_decode %}
  {% assign first_path = image_paths | split: "," | first %}

  <div class="slideshow-container">
    <div class="mySlides">
      <img id="{{place | append: '_Image'}}" style="padding: 20 0 0 0;" src="{{ first_path }}" alt="image" />
    </div>

    <a class="prev" onclick="Slides(SlideIndex -= 1, '{{image_paths}}', '{{place}}')"><p class="arrow">&#10094;</p></a>
    <a class="next" onclick="Slides(SlideIndex += 1, '{{image_paths}}', '{{place}}')"><p class="arrow">&#10095;</p></a>
  </div>
</div>
